@charset "utf-8";
/* CSS Document */

@charset "utf-8";
body {
	background:#fff;
	color:#121212;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	margin:0;
	padding:0;
	background:url(images/bg-body.gif) repeat-x;
}
form {
	padding:0;
	margin:0;	
}

#outterPageWrapper {
	width:943px;
	margin:0 auto 0 auto;
	padding:0 0 18px 0;
	background:url(images/bg-full-wrapper.png) bottom no-repeat;
}
#header {
	height:114px;
	margin:0;
	padding:0;
}
#logo {
	padding:0 0 0 12px;
	margin:0;
}
#logo img{ border:0 none;}
#login-box {
	background:url(images/bg-login.png) 0 0px no-repeat;	
	padding:0;
	margin:15px 0 0 0;
	height:429px;	
	width:445px;
}
a {
	color: #3366cc;
	text-decoration:none;
}
a:hover, a:visited {
	color: #3366cc;
	text-decoration:underline;
}
#ru-leftside {
	float:left;
	width:475px;
}
#ru-rightside {
	float:right;
	width:445px;
	margin-right:18px;
}
#MktAppSectionOneWrapper {
	width:468px;
	margin:0 auto 0 auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444;
}
#MktAppSectionTwoWrapper {
	width:445px;
	margin:15px auto 0 auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444;
}
#MktAppSectionOne {
	min-height:0px;
	min-width:0px;	
	padding:0px;
	margin:0px;
}
#MktAppSectionOneFrame {
	width:475px;
	height:860px;	
}
#MktAppSectionTwoFrame {
	width:445px;
	height:401px;	
}
#MktAppSectionOne iframe, #MktAppSectionTwo iframe {
	border:none;
	padding:0;
	margin:0;
}
#login-box-content {
	width:380px;
	float:left;
	margin:8px 0 0 38px;
}
#login-form {
	margin:20px 0 15px 0;
	float:left;
	width:380px;
}
#login-box-content h2 {
	margin:0;
	padding:12px 0 2px 0;
	font-size:27px;
	color:#4F5E6A;
	line-height:33px;
	font-weight:normal;	
}
#contact-content {
	border-top:1px solid #d3d3d3;
	float:left;
	width:360px;
}
#contact-content h3 {
	font-size:18px;
	font-weight:normal;
	padding:0px;
	margin:15px 0 0 0;
}
#footerCopy {
	text-align:center;	
	padding-bottom:1px;
	margin-bottom:0;
}
.floatWrapper:after, .floatGroup:after, .clearAfter:after, #ru-wrap:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#inputs { float:left;}
#inputs .input_box
{
    background: #f1f1f1 url(images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 4px 0 5px 0px;
    width: 320px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	color:#444444;
}

#LoginUser_username
{
    background-position: 5px -2px !important;
}

#LoginUser_Password
{
    background-position: 5px -52px !important;
}

#inputs .input_box:focus
{
    background-color: #fff;
    border-color: #5478c6;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #5478c6 inset;
    -webkit-box-shadow: 0 0 0 1px #5478c6 inset;
    box-shadow: 0 0 0 1px #5478c6 inset;
}
#inputs span{ float:left;}


#inputs a {
    color: #3366CC;
    text-decoration: none;
}
#inputs a:hover {
    text-decoration: underline;
}
/*--------------------*/
#actions
{
    margin: 10px 0 0 0px; float:left; width:100%;
}
.user_action { float:left; width:200px;}
.user_action span{ float:left; width:100%; padding:0 0 4px 0;}
.user_action span input { padding:0px; margin:0px 0 0 0; vertical-align:middle;}

.log_btn { float:right; width:152px;}



#LoginUser_submit
{		
    background: #ffb94b url(images/login-btn-bg-normal.png) left top repeat-x;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    border: 1px solid #d69e31;
    float: right;
    height: 35px;
	margin:0 18px 0 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica, sans-serif;
    color: #8f5a0a;
}
.alert-text-login
{
    font: 11px/16px Arial, Helvetica, San-serif!important;
    color: #DD4B39 !important;
	padding:0 0 0 0px;
}
.alert-text-chngpswd
{
    font: 11px/16px Arial, Helvetica, San-serif!important;
    color: #DD4B39 !important;
	padding:0 0 0 10px!important;
	float:left;
}
#LoginUser_submit:hover,#LoginUser_submit:focus
{		
	background: #fddb6f url(images/login-btn-bg-hover.png) left top repeat-x;

}
.login-fp-links { float:right; width:250px; margin:15px 0 0 15px;}	
.login-fp-links a
{
    color: #3366CC;    
    float: right;
    line-height: 35px;
    margin:0 20px 0 0px ;
	text-decoration:none;
}
.login-fp-links a:hover
{
	text-decoration:underline;
}
