/*!
 * Retro Style Flip Clock
 * Copyright (c) 2009 Eric Garside (http://eric.garside.name)
 * Dual licensed under:
 *  MIT: http://www.opensource.org/licenses/mit-license.php
 *  GPLv3: http://www.opensource.org/licenses/gpl-3.0.html
 */

/* Master Style
----------------------------------*/

.epiclock-retro .epiclock, .epiclock-retro .epiclock-img
    { display: block; float: left; }

.epiclock-retro .epiclock-img .epiclock-animation,
.epiclock-retro .epiclock-meridian,
.epiclock-retro .epiclock-separator { display: block; float: left; background-image: url(epiclock.retro.png); background-repeat: no-repeat; height: 20px; }

/* Individual Styles
----------------------------------*/
.epiclock-retro .epiclock-spacer { display: block; float: left; width: 5px; height: 1px; margin: 0; }
.epiclock-retro .epiclock-animation { width: 20px; }
.epiclock-retro .epiclock-separator { width: 13px; text-indent: -999999px; background-position: 0 -420px; }

/* Container Clearfix
----------------------------------*/
.epiclock-retro:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.epiclock-retro { display: inline-block; }
* html .epiclock-retro { height:1%; }
.epiclock-retro { display:block; }

/* Static Positions
----------------------------------*/
.epiclock-retro .d1 .s { background-position: 0 -20px; }
.epiclock-retro .d2 .s { background-position: -20px -40px; }
.epiclock-retro .d3 .s { background-position: 0 -80px; }
.epiclock-retro .d4 .s { background-position: -20px -100px; }
.epiclock-retro .d5 .s { background-position: 0 -140px; }
.epiclock-retro .d6 .s { background-position: -20px -160px; }
.epiclock-retro .d7 .s { background-position: 0 -200px; }
.epiclock-retro .d8 .s { background-position: -20px -220px; }
.epiclock-retro .d9 .s { background-position: 0 -260px; }
.epiclock-retro .d0 .s { background-position: -20px -280px; }
.epiclock-retro .dpm .s { background-position: 0 -340px; width: 40px; }
.epiclock-retro .dam .s { background-position: 0 -400px; width: 40px; }

/* Animation Phase 1
----------------------------------*/
.epiclock-retro .d1 .a1 { background-position: 0 0; }
.epiclock-retro .d2 .a1 { background-position: -20px -20px; }
.epiclock-retro .d3 .a1 { background-position: 0 -60px; }
.epiclock-retro .d4 .a1 { background-position: -20px -80px; }
.epiclock-retro .d5 .a1 { background-position: 0 -120px; }
.epiclock-retro .d6 .a1 { background-position: -20px -140px; }
.epiclock-retro .d7 .a1 { background-position: 0 -180px; }
.epiclock-retro .d8 .a1 { background-position: -20px -200px; }
.epiclock-retro .d9 .a1 { background-position: 0 -240px; }
.epiclock-retro .d0 .a1 { background-position: -20px -260px; }
.epiclock-retro .dpm .a1 { background-position: 0 -360px; width: 40px; }
.epiclock-retro .dam .a1 { background-position: 0 -300px; width: 40px; }

/* Animation Phase 2
----------------------------------*/
.epiclock-retro .d1 .a2 { background-position: -20px 0; }
.epiclock-retro .d2 .a2 { background-position: 0 -40px; }
.epiclock-retro .d3 .a2 { background-position: -20px -60px; }
.epiclock-retro .d4 .a2 { background-position: 0 -100px; }
.epiclock-retro .d5 .a2 { background-position: -20px -120px; }
.epiclock-retro .d6 .a2 { background-position: 0 -160px; }
.epiclock-retro .d7 .a2 { background-position: -20px -180px; }
.epiclock-retro .d8 .a2 { background-position: 0 -220px; }
.epiclock-retro .d9 .a2 { background-position: -20px -240px; }
.epiclock-retro .d0 .a2 { background-position: 0 -280px; }
.epiclock-retro .dpm .a2 { background-position: 0 -380px; width: 40px; }
.epiclock-retro .dam .a2 { background-position: 0 -320px; width: 40px; }