@charset "utf-8";
/* CSS Document */

#features, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures { position:relative; overflow:hidden; width:445px; height:221px; }
#sgFeatures { position:relative; overflow:hidden; width:445px; height:221px; margin:0px 0 0 0px; }
.jshowoff { width:445px; margin:15px 0 0 15px; }
.jshowoff div {	width:445px; height:221px; }

/*.jshowoff div, .jshowoff img, .jshowoff { -webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px; }
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div { -webkit-border-radius:0; -moz-border-radius:0; }*/

.jshowoff div p, .jshowoff div h2 { }
.jshowoff h2, .jshowoff p { font-size:18px; padding:0px; margin:0; }
.jshowoff p { font-size:13px; line-height:15px; }
.eddie { float:right; padding:0 0 15px 20px; }
.jshowoff p.jshowoff-slidelinks { position:absolute; margin:0; padding:0; }
.jshowoff-slidelinks a, .jshowoff-controls a { display:block; color:#fff; padding:0; margin: 0; float:left; text-decoration:none; outline:none; font-size:11px; line-height:14px; }
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover { color:#fff; }
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover { color:#fff; }
p.jshowoff-controls { background:#aaa; overflow:auto; height:1%; padding:0 0 5px 5px; margin:0; }
.jshowoff-controls a { margin:0; font-size:12px; line-height:15px; padding:0; }
.jshowoff-pausetext { color:#fff; }


/*-- TOP SLIDER --*/

.thumbFeatures p.jshowoff-slidelinks { bottom:15px; left:376px; padding:0 0 0 3px; height:16px; }
.thumbFeatures .jshowoff-slidelinks a { display:block; width:11px; height:11px; background-repeat:no-repeat; margin:0 3px 0 0; padding:0; line-height:26px; text-align:center; font-weight:bold; color: #fff; text-indent: -10000em; }
.thumbFeatures .jshowoff-slidelinks a.jshowoff-active {background-image:url(../../../images/on.gif)}
.thumbFeatures .jshowoff-slidelink-0 { background-image:url(../../../images/off.gif); }
.thumbFeatures .jshowoff-slidelink-1 { background-image:url(../../../images/off.gif); }
.thumbFeatures .jshowoff-slidelink-2 { background-image:url(../../../images/off.gif); }
.thumbFeatures .jshowoff-slidelink-3 { background-image:url(../../../images/off.gif); }
.thumbFeatures p.jshowoff-controls { background:none; height:38px; overflow:visible; padding:0; position:absolute; top:100px; width:100%; z-index:150; }
.thumbFeatures .jshowoff-controls a { display:block; width:22px; height:38px; background:none; background-repeat:no-repeat; margin:0; padding:0; text-indent:-10000em; position:absolute; }

.thumbFeatures .jshowoff-controls a.jshowoff-prev { left:15px; /*background-image:url();*/ }
.thumbFeatures .jshowoff-controls a.jshowoff-next { right:15px; /*background-image:url();*/ }
.thumbFeatures .jshowoff-controls a.jshowoff-play { display:none; }
.jshowoff.thumbFeatures { height:230px; }
.jshowoff.thumbFeatures div, .jshowoff.thumbFeatures img, .jshowoff.thumbFeatures { }


/*-- SERVICE GRAPHIC -- */
#sgFeatures ul li { margin-bottom:3px !important; padding-bottom:0 !important; line-height:15px !important; }

.sgFeatures p.jshowoff-slidelinks { overflow:visible; bottom:200px; padding:0; left:64px; width:230px; }

.sgFeatures .jshowoff-slidelinks a { display:block; float:left; width:115px; height:115px; margin:0; padding:0; line-height:115px; text-align:center; font-weight:bold; -moz-border-radius:0; -webkit-border-radius:0; text-indent:-9999px; }

.sgFeatures a.jshowoff-2-active { background-position: right top; }

.sgFeatures p.jshowoff-controls { background:none; height:50px; overflow: visible; padding:0; position:relative; width:100%; z-index:150; }
.sgFeatures .jshowoff-controls a { display:block; width:50px; height:50px; background:none; background-repeat:no-repeat; margin:0; padding:0; text-indent:-10000em; position:relative; }

.sgFeatures .jshowoff-controls a.jshowoff-prev { bottom:300px; left:10px; background: url(/images/home_sprite_pak.png) -380px -288px; }
.sgFeatures .jshowoff-controls a.jshowoff-next { bottom:300px; left:248px; background: url(/images/home_sprite_pak.png) -430px -288px; }
.sgFeatures .jshowoff-controls a.jshowoff-play { display:none; }
.jshowoff.sgFeatures { }
.jshowoff.sgFeatures div, .jshowoff.sgFeatures img, .jshowoff.sgFeatures { }