﻿<%@ Page Title="Help" Language="C#" AutoEventWireup="true" CodeBehind="FileExplorer.aspx.cs"
    Inherits="FlightPak.Web.Views.Help.FileExplorer" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<title></title>
</head>
<body>
	<form id="form1" runat="server">
	<telerik:RadScriptManager ID="ScriptManager1" runat="server">
	</telerik:RadScriptManager>
	<div>
		<telerik:RadFileexplorer runat="server" id="RadFileExplorer1" height="500px" hidth="600px">
		</telerik:RadFileexplorer>
	</div>
	</form>
</body>
</html>
