﻿<#@ template language="C#" debug="false" hostspecific="true"#>
<#@ include file="EF.Utility.CS.ttinclude"#><#@
 output extension=".cs"#><#

CodeGenerationTools code = new CodeGenerationTools(this);
MetadataLoader loader = new MetadataLoader(this);
CodeRegion region = new CodeRegion(this, 1);
MetadataTools ef = new MetadataTools(this);

string inputFile = @"../../../Data/FlightPak.Data.Preflight/PreflightDataModel.edmx"; //ex: ../../Data/FlightPak.Data.Admin/AdminDataModel.edmx
EdmItemCollection ItemCollection = loader.CreateEdmItemCollection(inputFile);
string namespaceName = "FlightPak.Data.Preflight"; //ex:FlightPak.Data.Admin

EntityFrameworkTemplateFileManager fileManager = EntityFrameworkTemplateFileManager.Create(this);

// Write out support code to primary template output file
WriteHeader(fileManager);
BeginNamespace(namespaceName, code);
WriteCustomObservableCollection();
EndNamespace(namespaceName);

string outputDir = Path.GetDirectoryName(this.Host.TemplateFile);


// Emit Entity Types & Interfaces
foreach (EntityType entity in ItemCollection.GetItems<EntityType>().OrderBy(e => e.Name))
{
	//Interface Generation
	if (!File.Exists(Path.Combine(outputDir, entity.Name + ".cs")))
	{

		var hostServiceProvider = (IServiceProvider)this.Host;

		if (hostServiceProvider == null)

		{

			throw new ArgumentNullException("Could not obtain hostServiceProvider");

		}
		var dte = (EnvDTE.DTE)hostServiceProvider.GetService(typeof(EnvDTE.DTE));
		if (dte == null)

		{

			throw new ArgumentNullException("Could not obtain DTE from host");

		}
		var templateProjectItem = (EnvDTE.ProjectItem)dte.Solution.FindProjectItem(this.Host.TemplateFile);

		string text = WriteInterface("I" + entity.Name, namespaceName, entity, code);

		File.WriteAllText(Path.Combine(outputDir, entity.Name + ".cs"), text);

		var entitiesProject = templateProjectItem.ContainingProject as EnvDTE.Project;

		entitiesProject.ProjectItems.AddFromFile(Path.Combine(outputDir, entity.Name + ".cs"));

	} 
	
#>

<#
    EndNamespace(namespaceName);
}

if (!VerifyTypesAreCaseInsensitiveUnique(ItemCollection))
{
    return "";
}

fileManager.Process();

#>
<#+
void WriteHeader(EntityFrameworkTemplateFileManager fileManager, params string[] extraUsings)
{
    fileManager.StartHeader();
#>
//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated from a template.
//
//     Changes to this file may cause incorrect behavior and will be lost if
//     the code is regenerated.
// </auto-generated>
//------------------------------------------------------------------------------

using System;
using System.Collections;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Collections.Specialized;
using System.Data.Objects;
using System.Data.Objects.DataClasses;
using System.Runtime.Serialization;

<#+
    fileManager.EndBlock();
}

void BeginNamespace(string namespaceName, CodeGenerationTools code)
{
    CodeRegion region = new CodeRegion(this);
    if (!String.IsNullOrEmpty(namespaceName))
    {
#>
namespace <#=code.EscapeNamespace(namespaceName)#>
{
<#+
        PushIndent(CodeRegion.GetIndent(1));
    }
}

 
void EndNamespace(string namespaceName)
{
    if (!String.IsNullOrEmpty(namespaceName))
    {
        PopIndent();
#>

<#+
    }
}


void WriteCustomObservableCollection()
{
#>
}
<#+
}
string WriteInterface(string interfaceName, string namespaceName, EntityType entity, CodeGenerationTools code)

{

System.Text.StringBuilder builder = new StringBuilder();

builder.AppendLine("using System.ComponentModel.DataAnnotations;");

builder.AppendLine("using System.ComponentModel;");

builder.AppendLine("using System;");

builder.AppendLine();

builder.AppendLine("namespace " + namespaceName);

builder.AppendLine("{");


builder.AppendLine("	[MetadataType(typeof(" + interfaceName + "))]");

builder.AppendLine("	public " + code.SpaceAfter(code.AbstractOption(entity)) + "partial class " + interfaceName.Substring(1) + " : " + interfaceName);

builder.AppendLine("	{");


builder.AppendLine("		static " + interfaceName.Substring(1) + "()");

builder.AppendLine("		{");


builder.AppendLine("			TypeDescriptor.AddProviderTransparent(new AssociatedMetadataTypeTypeDescriptionProvider(typeof(" + interfaceName.Substring(1) + "), typeof(" + interfaceName + ")), typeof(" + interfaceName.Substring(1) + "));");

builder.AppendLine("		}");

builder.AppendLine("	}");

builder.AppendLine();

builder.AppendLine("	public interface " + interfaceName);

builder.AppendLine("	{");

builder.AppendLine("	}");

builder.AppendLine("}");

return builder.ToString();

}
bool VerifyTypesAreCaseInsensitiveUnique(EdmItemCollection itemCollection)
{
    Dictionary<string, bool> alreadySeen = new Dictionary<string, bool>(StringComparer.OrdinalIgnoreCase);
    foreach(StructuralType type in itemCollection.GetItems<StructuralType>())
    {
        if (!(type is EntityType || type is ComplexType))
        {
            continue;
        }

        if (alreadySeen.ContainsKey(type.FullName))
        {
            Error(String.Format(CultureInfo.CurrentCulture, "This template does not support types that differ only by case, the types {0} are not supported", type.FullName));
            return false;
        }
        else
        {
            alreadySeen.Add(type.FullName, true);
        }

    }

    return true;
}

void WriteEntityTypeSerializationInfo(EntityType type, ItemCollection itemCollection, CodeGenerationTools code, MetadataTools tools)
{
#>
[DataContract(IsReference = true)]
<#+
    foreach(EntityType subtype in tools.GetSubtypesOf(type, itemCollection, true))
    {
#>
[KnownType(typeof(<#=code.Escape(subtype)#>))]
<#+
    }
    List<EntityType> knownNavPropertyTypes = new List<EntityType>();
    foreach(NavigationProperty navProperty in type.NavigationProperties.Where(np => np.DeclaringType == type))
    {
        EntityType navPropertyType = navProperty.ToEndMember.GetEntityType();
        if(!knownNavPropertyTypes.Contains(navPropertyType))
        {
            knownNavPropertyTypes.Add(navPropertyType);
        }
    }
    foreach(EntityType knownNavPropertyType in knownNavPropertyTypes)
    {
#>
[KnownType(typeof(<#=code.Escape(knownNavPropertyType)#>))]
<#+
    }
}

#>

