﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FuelFileUpload.aspx.cs" Inherits="FlightPak.Web.Views.Settings.Logistics.FuelFileUpload" %>
<%@ Import Namespace="System.Security.Cryptography" %>
<html>
    <head runat="server"></head>
</html>
<script runat="server">
 
</script>

