﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Framework/Masters/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="FlightPak.Web._Default" %>
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
</asp:Content> 
