﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Framework/Masters/Authentication.Master"
    AutoEventWireup="true" CodeBehind="CheckHint.aspx.cs" Inherits="FlightPak.Web.Account.CheckHint" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    
</asp:Content>
