﻿div.RadScheduler .rsHorizontalHeaderTable, div.RadScheduler .rsContentTable, div.RadScheduler .rsAllDayTable
{
    /*width: /*\**/ /*100%\9 !important;*/
}
* + html div.RadScheduler .rsHorizontalHeaderTable, * + html div.RadScheduler .rsContentTable, * + html div.RadScheduler .rsAllDayTable
{
    width: auto !important;
}

.RadScheduler .rsTopWrap tr.rsHidden
{
    display: block;
}

* + html .RadScheduler .rsVerticalHeaderTable tr.rsMainHeader div.rsMainHeader
{
    width: auto;
}

/* Full View css for full screen  */

html, body, form{max-height: 100% !important; height: 100% !important; }
#art-main{max-height: 100% !important;height: 100% !important;}
.art-Sheet-body{max-height: 100% !important;height: 100% !important;}
.art-contentLayout{max-height: 100% !important;height: 100% !important;}
.fullview .rpRootGroup{max-height: 100% !important;height: 100% !important;}
.fullview .rpRootGroup li{max-height: 100% !important;height: 100% !important;}
.fullview .rpTemplate{max-height: 100% !important;height: 100% !important;}
.fullview .rpTemplate > div:first-child{max-height: 100% !important;height: 100% !important;}
.fullview .rpTemplate > div:first-child > div{max-height: 100% !important;height: 100% !important;}
.fullview .rpTemplate > div:first-child > div > div{max-height: 100% !important;height: 100% !important;}
.fullview .rpTemplate > div:first-child > div > div > div{max-height: 100% !important;height: 100% !important;}
.fullview .rsTopWrap{max-height: 100% !important;height: 100% !important;}
.fullview .rsTimelineView{max-height: 100% !important;height: 100% !important;}
.fullview .rsTimelineView > table:first-child tr:last-child{max-height: 100% !important;height: 100% !important;}

.fullviewgrid .rpRootGroup{max-height: 100% !important;height: 100% !important;}
.fullviewgrid .rpRootGroup li{max-height: 100% !important;height: 100% !important;}
.fullviewgrid .rpTemplate{max-height: 100% !important;height: 100% !important;}
.fullviewgrid .rpTemplate > div:first-child{max-height: 100% !important;height: 100% !important;}
.fullviewgrid .rpTemplate > div:first-child > div{max-height: 100% !important;height: 100% !important;}

.fullviewgridmain .rpTemplate > div{max-height: 100% !important;height: 100% !important;}
.fullviewgridmain .rgDataDiv{height:80% !important; overflow:auto;}
.fullviewgridmain .rgMasterTable{height:auto !important;}
        
.fullviewbw .rsTimelineView > table{height: 97% !important;}
.fullviewbw .rsAllDayTable{height: 100% !important;}
.fullviewbw .rsContentWrapper{max-height: 100% !important;height: 100% !important;}
.fullviewbw .rsTimelineView > table:last-child tr:last-child{max-height: 100% !important;height: 100% !important;}
.fullviewbw .rsTimelineView > table:last-child tr:last-child td{max-height: 100% !important;height: 100% !important;}
.fullviewbw .rsContentScrollArea{max-height: 100% !important;height:100% !important}
.fullviewbw .RadScheduler .rsApt{width: 100% !important;}
.fullviewbw .RadScheduler .rsAptOut{height: 170px !important;}

.fullviewplanner .rsTimelineView > table{height: 97% !important;}
.fullviewplanner .rsAllDayTable{height: 100% !important;}
.fullviewplanner .rsContentWrapper{max-height: 100% !important;height: 100% !important;}
.fullviewplanner .rsTimelineView > table:last-child tr:last-child{max-height: 100% !important;height: 100% !important;}
.fullviewplanner .rsTimelineView > table:last-child tr:last-child td{max-height: 100% !important;height: 100% !important;}
.fullviewplanner .RadScheduler .rsApt{width: 100% !important;}
.fullviewplanner .RadScheduler .rsAptOut{height: 25px !important;}

.fullviewmonth .rpRootGroup{max-height: 100% !important;height: 100% !important;}
.fullviewmonth .rpRootGroup li{max-height: 100% !important;height: 100% !important;}
.fullviewmonth .rpTemplate{max-height: 100% !important;height: 100% !important;}
.fullviewmonth .rpTemplate > div:first-child{max-height: 100% !important;height: 100% !important;}
.fullviewmonth .rpTemplate > div:first-child > div{max-height: 16.6% !important;height: 15.9% !important;}
.fullviewmonth .rpTemplate > div:first-child > div > div{max-height: 100% !important;height: 100% !important;}
.fullviewmonth .rpTemplate > div:first-child > div > div > div{max-height: 100% !important;height: 100% !important;}
.fullviewmonth .rsTopWrap{max-height: 100% !important;height: 100% !important;}


.fullviewgridmaindetail .rpRootGroup{max-height: 90% !important;height: 90% !important;}
.fullviewgridmaindetail .rpRootGroup li{max-height: 90% !important;height: 90% !important;}
.fullviewgridmaindetail .rpTemplate{max-height: 90% !important;height: 90% !important;}
.fullviewgridmaindetail .rpTemplate > div:first-child{max-height: 90% !important;height: 90% !important;}
.fullviewgridmaindetail .rpTemplate > div:first-child > div{max-height: 90% !important;height: 90% !important;}
.fullviewgridmaindetail .rgDataDiv{height:90% !important; overflow:auto;}

/*.MainControlCSS td.rsVerticalHeaderWrapper > div, .MainControlCSS td.rsContentWrapper, .MainControlCSS td.rsContentWrapper > div{height:auto!important;}*/
.MainControlCSS .rsContent .rsContentScrollArea > table{ min-width:1350px;width: 1350px!important}
.MainControlCSS .rsContent .rsHorizontalHeaderWrapper .rsInnerFix > table{ min-width:1350px;width: 1350px!important}

.MainCrewControlCSS .rsContent .rsContentScrollArea > table{ min-width:1350px;width: 1350px!important}
.MainCrewControlCSS .rsContent .rsHorizontalHeaderWrapper .rsInnerFix > table{ min-width:1350px;width: 1350px!important}

/*.MainControlCSSFV td.rsVerticalHeaderWrapper > div, .MainControlCSS td.rsContentWrapper, .MainControlCSS td.rsContentWrapper > div{height:auto!important;}*/
.MainControlCSSFV .rsContent .rsContentScrollArea > table{ min-width:1350px;width: 100%!important}
.MainControlCSSFV .rsContent .rsHorizontalHeaderWrapper .rsInnerFix > table{ min-width:1350px;width: 100%!important}

.MainCrewControlCSSFV .rsContent .rsContentScrollArea > table{ min-width:1350px;width: 100%!important}
.MainCrewControlCSSFV .rsContent .rsHorizontalHeaderWrapper .rsInnerFix > table{ min-width:1350px;width: 100%!important}



.plannerCrewHeader{
	font-size: 9px !important;
    padding-bottom :0px !important;
    padding-top :0px !important;
    height:12px !important;
}











