﻿/*new style added for label*/
  .top-bar > span.padright_10 {
  float: left;
  width: 74px;
}
.top-bar > .padright_10 > span {
  float: left;
  min-width: 76px;
}
.top-bar > .padright_20 {
  float: left;
}
.top-bar > span.padright_20 > span {
  float: left;
  height: 14px;
  min-width: 20px;
}
.top-bar span.last-span {
  height: 14px;
  min-width: 100px;
  float:left;
}