﻿
/* CSS for JQGRID large cell text wrap */
.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height:auto;
    vertical-align:text-top;
    padding-top:2px;
}
 .ui-jqgrid .ui-jqgrid-htable th div {
height: auto!important;
}

/* CSS for Jqgrid looks like older telerik controls */
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 0;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 0;
}

.ui-jqgrid .ui-state-default,
.ui-jqgrid .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    padding-bottom: 0;
    background: none repeat scroll 0 0 #d6dfeb;
}

.ui-jqgrid-htable th,
.ui-jqgrid-htable .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    text-align: center;
    /*padding-left: 5px;*/
    border-right: 1px solid #aaa !important;
}

.ui-jqgrid-htable th,
.ui-jqgrid-htable .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    border-right: 1px solid #aaa !important;
}

.table-hover > tbody > tr:hover > td {
    background-color: #95bee7 !important;
}

.box1 {
    padding: 0 !important;
}

tr.ui-state-highlight > td {
    border-color: #add0f2 !important;
    background: none repeat scroll 0 0 #add0f2 !important;
}

table.ui-jqgrid-btable { height: 1px; }