﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCCalendarAppointmentTooltip.ascx.cs" Inherits="FlightPak.Web.UserControls.UCCalendarAppointmentTooltip" %>

<div style="margin:5px 5px 0px 5px; font-size:12px; padding-bottom: 10px;">
    <div style="border-bottom:solid 1px #ccc;margin-bottom:9px;font-size:11px;">
    Starting on: <asp:Label runat="server" ID="StartingOn"></asp:Label></div>
    <asp:Literal runat="server" ID="FullText"></asp:Literal>
</div>