﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCFleetTreeView.ascx.cs" Inherits="FlightPak.Web.UserControls.UCFleetTreeView" %>
<telerik:RadTreeView ID="FleetTree" runat="server">
<DataBindings>
<telerik:RadTreeNodeBinding  />
</DataBindings>
</telerik:RadTreeView>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>