﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCMultiSelect.ascx.cs" Inherits="FlightPak.Web.UserControls.UCMultiSelect" %>
<asp:GridView ID="gvDisplay" runat="server">
</asp:GridView>
