﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCRptMonthView.ascx.cs" Inherits="FlightPak.Web.UserControls.UCRptMonthView" %>
 <telerik:RadMonthYearPicker ID = "tlkMonthView"   runat ="server"></telerik:RadMonthYearPicker>
 <asp:RequiredFieldValidator ID="rfvMonthView" runat="server" ErrorMessage="Required Field" ControlToValidate="tlkMonthView" Enabled ="false" ></asp:RequiredFieldValidator>