@charset "utf-8";
/* CSS Document */
body
{
    font: normal 12px Arial, Helvetica, sans-serif;
    margin: 0;
	background:#a9aaae url(../images/login-background.jpg) no-repeat center top;
}
/*--------------------*/

#login-wrapper{ float:left; width:100%; }
#login-main{width:1003px; margin:0 auto; }
.login-header{ float:left; width:1003px; border-top:2px solid #cd0215; height:80px; background:#f8f8f8; -webkit-box-shadow:0px 0px 2px #999999;-moz-box-shadow:0px 0px 2px #999999;box-shadow:0px 0px 2px #999999; }
.uwa-logo{ float:left; margin:8px 0 0 10px; }
.uwa-logo a { background:url(../images/universal-logo.png) no-repeat left top; display:block; height:66px; width:257px; text-indent:-9999px;}
.fp-logo{ float:right; margin:15px 50px 0 0;}
.fp-logo a { background:url(../images/flightpak_logo.png) no-repeat left top; display:block; height:53px; width:181px; text-indent:-9999px;}
.login-body { float:left; width:1003px; margin:30px 0 10px 0;}
.login-left-section{ float:left; width:600px;  background:#fff; min-height:350px; -webkit-box-shadow:0px 0px 2px #999999;-moz-box-shadow:0px 0px 2px #999999;box-shadow:0px 0px 2px #999999;
-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;}
.banner-rotation{ float:left; width:550px; height:229px; margin: 10px 0 0 25px;}
.login-right-section{float:right; width:380px; height:350px;  background:#fff; -webkit-box-shadow:0px 0px 2px #999999;-moz-box-shadow:0px 0px 2px #999999;box-shadow:0px 0px 2px #999999; -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; background:url(../images/login-box-bg.png) repeat-x left top;}
.fp-support{ float:left; margin:5px 0 0 25px; padding:15px 0 0 0; border-top:1px dashed #ccc; width:550px; }
.fp-hdtext { float:left; width:550px; font:bold 14px Arial, Helvetica, sans-serif; color:#3366CC;}
.fp-support span{ float:left; margin:15px 30px 10px 0; font:normal 12px Arial, Helvetica, sans-serif; color:#444;}
.fp-support span p{ margin:0px; padding:0px 0 5px 0;}
.fp-support span a {color: #3366CC;text-decoration:none;}
.fp-support span a:hover {text-decoration:underline;}

#login
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    height: 240px;
    width: 300px;
    margin: -94px 0 0 99px;
    padding: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:0px 0px 2px #999999;-moz-box-shadow:0px 0px 2px #999999;box-shadow:0px 0px 2px #999999;
}

.login-box-outter{border: 1px dashed #ccc;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff; margin:5px; width:368px; height:338px;
	color:#444444;}
/*--------------------*/


h1
{
    text-transform: uppercase;
    text-align: left;
    color: #444;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
    font: normal 28px Arial, Helvetica, sans-serif;
    position: relative;
	padding:5px 0 5px 15px;
	border-bottom: 1px dashed #ccc;
}

/*--------------------*/

#inputs .input_box
{
    background: #f1f1f1 url(../images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 4px 0 5px 15px;
    width: 290px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	color:#444444;
}

#LoginUser_username
{
    background-position: 5px -2px !important;
}

#LoginUser_Password
{
    background-position: 5px -52px !important;
}

#inputs .input_box:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
#inputs span{ float:left;}
/*--------------------*/
#actions
{
    margin: 10px 0 0 15px; float:left; width:352px;
}
#actions span{ float:left;}


#LoginUser_submit
{		
    background: #ffb94b url(../images/login-btn-bg-normal.png) left top repeat-x;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    border: 1px solid #d69e31;
    float: right;
    height: 35px;
	margin:0 18px 0 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica, sans-serif;
    color: #8f5a0a;
}
.alert-text-login
{
    font: 11px/16px Arial, Helvetica, San-serif!important;
    color: #DD4B39 !important;
	padding:0 0 0 20px;
}
#LoginUser_submit:hover,#LoginUser_submit:focus
{		
	background: #fddb6f url(../images/login-btn-bg-hover.png) left top repeat-x;

}
.login-fp-links { float:right; width:250px; margin:15px 0 0 15px;}	
.login-fp-links a
{
    color: #3366CC;    
    float: right;
    line-height: 35px;
    margin:0 20px 0 0px ;
	text-decoration:none;
}
.login-fp-links a:hover
{
	text-decoration:underline;
}
.login-footer{float:left; width:1003px; height:40px; text-align:center; margin:10px 0 10px 0;}
.footer-content{padding: 0; font:11px Arial, Helvetica, sans-serif; color:#444;}

/*--------------------*/
