﻿/* BOOTSTRAP POPUP HEADER CONTROLS(FILTERS)  */
.header_inn_wrapper .header_wrapper_left li { display:inline-block; }
.header_inn_wrapper .header_wrapper_left li label.left_label { font-size:12px;}
.header_inn_wrapper .header_wrapper_left li .search_code ul { margin-bottom: 10px; margin-left: 0; margin-top: 7px;}
.header_inn_wrapper .header_wrapper_left li .search_code { margin-left:15px;}
.header_inn_wrapper .header_wrapper_left li .search_code div.error_code { position:absolute;bottom:-17px; left:0;width: 140px; color:red;}
.header_inn_wrapper .header_wrapper_left li .search_code li { position:relative; vertical-align: middle;}
.header_inn_wrapper .header_wrapper_left li .search_code li label { font-size:12px;}
.header_inn_wrapper .header_wrapper_left li .search_code div.error_code .showDiv { margin-right: 0; text-align: left;}

/* BOOTSTRAP POPUP JQGRID FOOTER CONTROLS */fleetprofile_popup
.footerwrp_jqgrid_left { margin-top:-32px;}
.footerwrp_jqgrid_left li { display:inline-block;}
.footer_type2 td input.ui-pg-input {height: auto !important;}

/* BOOTSTRAP RESPONSIVE POP UP - STYLE.CSS OVERRIDE */
.bootstrap-common .row { margin-left:0; margin-right:0;}
.bootstrap-common .row .col-md-12 { padding-left:0; padding-right:0;}
.bootstrap-common table.box1 td #gbox_gridClientCode { box-sizing: initial;  width: 600px !important;}
.bootstrap-common .Span { margin-top: 0; position:sticky;}
.bootstrap-common .PageSize { margin: 0; position:sticky;}
.bootstrap-common .btnChange { margin: 0; position:sticky;}
.bootstrap-common #pg_gridPager { height:auto;}

.bootstrap-common .ui-jqgrid-bdiv .jspHorizontalBar { height:0;}
#form1 .bootstrap-common .box1 { height:auto !important;}
.ui-jqgrid .ui-jqgrid-pager table td table td:hover { border:0 none;}

/* BOOTSTRAP POPUP TITLE*/
.modal-backdrop { display: none !important}
.modal { background:rgba(0,0,0,0.5);}
.modal-dialog { width:1160px !important;}
.bootstrap-dialog-title { color: #fff;font-size: 14px;}
.modal-header { background:#25a0da; border-radius: 5px 5px 0 0;}
.modal-header .modal-title { color:#fff;  font-size: 15px;}

/* BOOTSTRAP POPUP MESSAGES*/
.bootbox  { background: rgba(255, 255, 255, 0.8); bottom: 0 !important;  margin: 0 auto;}
.bootbox .modal-body { height:auto; }
.bootbox .modal-dialog { top: 120px; width:450px !important; margin:0 auto;}
.bootbox .modal-footer button.btn {  background: #f9f9f9; border: 1px solid #cdcdcd; border-radius: 0; color: #000; padding: 6px 15px;}
.bootbox .modal-footer button.btn:hover { background: #e8e8e8; border-color: #767676;}
.bootbox .modal-body .bootbox-body span { margin-left:10px;}
.bootbox .modal-dialog .modal-header .modal-title span { margin-left:8px;}
.modal-dialog .modal-header { padding: 7px 15px !important;}
.bootbox.modal.fade.in { z-index: 9999;}

/*BOOTSTRAP POPUP CUSTOME JQUERY SCROLLBAR HORIZANTAL VERTICAL */
.scroll-pane { width: 100%; height: 477px; overflow: auto; }
.jspContainer { overflow: hidden; }
.jspPane { position: absolute; }
.jspVerticalBar { position: absolute; top: 0; right: 0; width: 11px; height: 100%;}
.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 0px;}
.jspCap { display: none; }
.jspHorizontalBar .jspCap { float: left; }
.jspTrack { background: rgba(49, 49, 49, 0.15); position: relative; border-radius: 10px; }
.jspDrag { background: rgba(49, 49, 49, 0.30); position: relative; top: 0; left: 0; cursor: pointer; border-radius: 10px; }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; padding: 0; margin: 0; }
.jspArrow.jspDisabled { cursor: default; background: none; }
.jspVerticalBar .jspArrow { height: 0px; }
.jspHorizontalBar .jspArrow { width: 0px; float: left; height: 100%; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspCorner { background: #eeeef4; float: left; height: 100%; }
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner{margin: 0 -3px 0 0;}
/*JQGRID HOVER ISSUE SOLVED*/
.table-striped > tbody > tr:nth-child(2n+1).ui-state-highlight td, .ui-state-highlight{background-color:#fcefa1!important;border: 1px solid #fcefa1;color: #363636;background-image:none!important;}
/* Jqgrid Footer common */
.bootstrap-common .footer_type2 .ui-pager-control > table.ui-pg-table > tbody > tr > td, .bootstrap-common .footer_type2 .ui-pager-control > table.ui-pg-table > tbody > tr > td:nth-child(2) { width:auto !important;}
.bootstrap-common .footer_type2 table.ui-pg-table td:last-child, .bootstrap-common .footer_type2 table.ui-pg-table td:first-child { display:table-cell;}
.dispatcher_popup #gbox_gridDispacherPopup #pager_gridDispacherPopup { height:auto;}
.bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td .ui-paging-info { text-align:right !important;}
.bootstrap-common .footer_type2 table.ui-pg-table td table.ui-pg-table { margin:0 auto !important;}

/*----------------------MODAL POPUP BOOTSTRAP-----------------------*/
/* FLEETPROFILE POPUP */
.Fleetprofile_popup { width: 1070px !important;}
.fleetprofile_popup #pg_gridPager_fleetProfile { width: 100% !important;}
#BodyFleetProfile.modal-body { height: 484px;}
.bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile { width:98% !important;}
.bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile { width:100% !important;}
.bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #pg_gridPager { width:100% !important;}
.bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-state-default.ui-jqgrid-hdiv { width: 100% !important;}
.bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-bdiv,
.bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-bdiv.jspScrollable { width:100% !important;}
/* FLEETPROFILE ADD-EDIT POPUP */
#ModalFleetProfileCatalog .modal-dialog { transform: translate(0px, 0);width: 1030px !important;-webkit-transform: translate(0,0);}
#BodyFleetProfileCatalog {height: 924px;}
/* CLIENT CODE POPUP */
.clientcode .modal-dialog { width:640px !important;}
.clientcode_popup .ui-jqgrid .ui-jqgrid-pager { height: auto;}
.clientcode_popup .ui-jqgrid .ui-jqgrid-pager table td { display: inline-block;}
.clientcode_popup .ui-pager-control > table.ui-pg-table > tbody > tr > td:last-child div.ui-paging-info { text-align: right !important;}
#ModalClientCode .modal-dialog { width: 645px !important; transform: translate(0px, 0);-webkit-transform: translate(0,0);}
#ModalClientCode .modal-dialog .modal-body { height: 385px;}
.bootstrap-common.clientcode_popup table.box1 td #gbox_gridClientCode {width: 600px !important;}
.bootstrap-common .ui-jqgrid .ui-pg-table { margin:0 auto;}
/* AIRCRAFT TYPES */
#ModalAircraftPopup .modal-dialog { width:586px !important;}
#ModalAircraftPopup .modal-dialog .modal-body { height:420px;}
.Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table td table td, .footer_type2 #pagesizebox, .footer_type2 .ui-paging-info { font-size:11px; color: #555;}
.Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right .ui-paging-info { font-size:11px; text-align:right !important;}

/* FLIGHT CATEGORY POPUP */
#ModalLegCategory .modal-dialog { transform: translate(0px, 0);-webkit-transform: translate(0,0); width:585px !important;}
#BodyLegCategory.modal-body { height: 455px;}
#BodyAddCategory {height: 600px;}
#ModalAddCategory .modal-dialog { transform: translate(0px, 0);width: 550px !important;-webkit-transform: translate(0,0);}
#pg_gridPager_responsive {height:auto!important;}
.flightcategory_popup  #gbox_gridFlightCategory { width:98% !important;}
#gbox_gridFlightCategory #gview_gridFlightCategory { width:100% !important;}
#gbox_gridFlightCategory #gview_gridFlightCategory .ui-state-default.ui-jqgrid-hdiv { width: 100% !important;}
#gbox_gridFlightCategory #gview_gridFlightCategory .ui-jqgrid-bdiv{ width:100% !important;}
#gbox_gridFlightCategory #gview_gridFlightCategory .ui-jqgrid-bdiv.jspScrollable { width:100% !important;}
/* Dispatcher */
#ModalDispatcher .modal-dialog{width:635px!important;}
#ModalDispatcher .modal-body{height:521px!important;}
.dispatcher_popup table.box1 #gbox_gridDispacherPopup { width:99% !important; overflow:hidden;}
.dispatcher_popup table.box1 #gbox_gridDispacherPopup #gview_gridDispacherPopup .ui-jqgrid-bdiv { width:99.8% !important;}
.dispatcher_popup table.box1 #gbox_gridDispacherPopup #gview_gridDispacherPopup { width:100% !important;}
/* Aircraft Emergency */
#ModalAircraftEmergency .modal-dialog { width:585px !important;transform: translate(0, 0%);}
#ModalAircraftEmergency .modal-dialog .modal-body { height:452px;}
.emergency_popup #gbox_dgEmergencyList #pg_gridPager { height:auto;}
.emergency_popup #gbox_dgEmergencyList { width:99% !important; overflow:hidden;}
.emergency_popup #gbox_dgEmergencyList #gview_dgEmergencyList .ui-jqgrid-bdiv { width:99% !important;}
/*COMPANY PROFILE POPUP*/
#ModalCompanyProfile .modal-dialog { transform: translate(0px, 0);width: 700px !important;-webkit-transform: translate(0,0);}
#BodyCompanyProfile.modal-body {height: 570px!important;}

@media only screen and (min-width:901px) and (max-width:1060px) {
    /* COMMON */
    .modal-dialog { width:732px !important;}
    .jspHorizontalBar { height:11px;}
    .ui-jqgrid .ui-jqgrid-pager { width: 100% !important;}
    /* FLEET PROFILE */
    .Fleetprofile_popup { width:716px !important; margin:0 auto; right:0; left:0 !important; height:502px !important;}
    .modal-dialog .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile { width:695px !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile,
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #pg_gridPager { width:100% !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-hdiv, .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-bdiv { width:100% !important;}
    .Fleetprofile_popup table.rwTable { height:100% !important;}
    /* FLEET PROFILE ADD/EDIT POPUP */
    #ModalFleetProfileCatalog .modal-dialog { transform: translate(0px, 0);width: 890px !important;-webkit-transform: translate(0,0);}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo li .rpSlide .rpTemplate table.box1 td #ctl00_SettingBodyContent_pnlAdditionalInfo_i0_dgPassengerAddlInfo { width: 648px;}
     /* FLIGHT CATEGORY */
      #ModalAddCategory .modal-dialog { transform: translate(0px, 0);-webkit-transform: translate(0,0);}
 }
    
@media only screen and (min-width:700px) and (max-width:900px) {
    /* COMMON */
    .modal-dialog { width:732px !important;}
    .jspHorizontalBar { height:11px;}
    .ui-jqgrid .ui-jqgrid-pager { width: 100% !important;}
    /* FLEET PROFILE */
    .Fleetprofile_popup { width:716px !important; margin:0 auto; right:0; left:0 !important; height:502px !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile { width:690px !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile,
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #pg_gridPager { width:100% !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-hdiv, .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-bdiv { width:100% !important;}
    .Fleetprofile_popup table.rwTable { height:100% !important;}
    /* FLEET PROFILE ADD/EDIT POPUP */
    #ModalFleetProfileCatalog .modal-dialog { transform: translate(0px, 0);width: 690px !important; margin: 10px auto 0;-webkit-transform: translate(0,0);}
    #art-sheet.art-Sheet { width: 880px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup { width: 841px;}
    #ModalFleetProfileCatalog #BodyFleetProfileCatalog { height: 924px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo li .rpSlide .rpTemplate table.box1 td #ctl00_SettingBodyContent_pnlAdditionalInfo_i0_dgPassengerAddlInfo { width: 825px;}
    /* AIRCRAFT TYPES */
    #ModalAircraftPopup .modal-dialog { width:586px !important; margin:0 auto;}    
    /*FLIGHT CATEGORY*/
    #BodyAddCategory {height: 600px;}
    #ModalAddCategory .modal-dialog { transform: translate(0px, 0); margin: 10px auto 0;-webkit-transform: translate(0,0);}
    /*=== Dispatcher ===*/
    #ModalDispatcher { padding-right:0 !important;}
    #ModalDispatcher .modal-dialog { margin:10px auto;}
    /* Aircraft Emergency */
    #ModalAircraftEmergency .modal-dialog { width:585px !important; margin:0 auto;}

 }

@media only screen and (min-width:500px) and (max-width:699px) {
    /* COMMON */
    .bootbox .modal-dialog { width:400px !important;}
    .modal-dialog {  margin: 0 auto !important; width: 482px !important;}
    .modal-body { height: 563px;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile { width: 445px !important;}
    .jspHorizontalBar { height:11px;}
    .ui-jqgrid .ui-jqgrid-pager { height: 80px; width: 100% !important;}
    .ui-jqgrid .ui-jqgrid-pager table td { display: block; margin: 0 auto !important;}
    .ui-jqgrid .ui-jqgrid-pager table td table td { display: inline-block !important; margin: 0 auto !important;}
    .ui-corner-bottom .ui-pager-control > table.ui-pg-table > tbody > tr > td:nth-child(2) { width: 42% !important;}
    .ui-pager-control > table.ui-pg-table > tbody > tr > td:last-child div.ui-paging-info { text-align: center !important;}
    /* FLEET PROFILE */
    .Fleetprofile_popup { width:620px !important; margin:0 auto; right:0; left:0 !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile { width:595px !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile, .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #pg_gridPager { width:100% !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-hdiv, .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-bdiv { width:100% !important;}
    .Fleetprofile_popup table.rwTable { height:100% !important;}
    #BodyFleetProfile.modal-body {height: 575px;}
    /* FLEET PROFILE ADD/EDIT POPUP */
    #ModalFleetProfileCatalog .modal-dialog { transform: translate(0px, 0);width: 490px !important; margin: 10px auto 0;-webkit-transform: translate(0,0);}
    #art-sheet.art-Sheet { width: 690px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup { width: 638px;}
    #ModalFleetProfileCatalog #BodyFleetProfileCatalog { height: 924px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table #ctl00_SettingBodyContent_pnlbarnotes li .rpSlide .rpTemplate table td textarea { width: 605px; }
    /* CLIENT CODE */
    .bootstrap-common table.box1 td #gbox_gridClientCode { width:400px !important;}
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode,
    .bootstrap-common table.box1 td #gbox_gridClientCode #pg_gridPager { width:100% !important;}
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode .ui-jqgrid-hdiv, .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode .ui-jqgrid-bdiv { width:100% !important;}
    .bootstrap-common .row { margin-left:0; margin-right:0;}
    .bootstrap-common .row .col-md-12 { padding-left:0; padding-right:0;}
    #ModalClientCode .modal-dialog { width:315px !important; transform: translate(0px, 0px) !important;-webkit-transform: translate(0,0);}
    #ModalClientCode .modal-dialog .modal-body {height: 440px;}
    .clientcode_popup .jspHorizontalBar { height:0;}
    .clientcode_popup > div#pagesizebox { bottom: 12px;float: none !important;left: 0 !important; right: 0;text-align: center;top: auto !important;}
    /* AIRCRAFT TYPES */
    #ModalAircraftPopup .modal-dialog { width:486px !important; margin:0 auto;}
    #ModalAircraftPopup .modal-dialog .modal-body { height: 470px;}
    /*FLIGHT CATEGORY*/
    #ModalLegCategory .modal-dialog {width:485px!important;}
    #BodyLegCategory.modal-body {height:505px!important;}
    /*Add category Modal Code*/
    #BodyAddCategory { height: 600px; }
    #ModalAddCategory .modal-dialog {transform: translate(0px, 0);width: 490px !important; margin: 10px auto 0;-webkit-transform: translate(0,0);
    } 
        /*=== Dispatcher ===*/
    #ModalDispatcher .modal-dialog { width:435px !important;}
    #ModalDispatcher .modal-body { height: 566px !important;}
    /* Aircraft Emergency */
    #ModalAircraftEmergency .modal-dialog { width:450px !important; margin:0 auto;}
    #ModalAircraftEmergency .modal-dialog .modal-body { height: 497px;}
           
 }

@media only screen and (min-width:400px) and (max-width:499px) {
    /* COMMON */
    .modal-dialog {  margin: 0 auto !important; width:315px !important;}
    .jspHorizontalBar { height:11px;}
    .bootbox .modal-dialog { width:270px !important;}
    .bootbox .modal-dialog .modal-header .modal-title span { font-size:13px;}
    .bootstrap-common table #pg_gridPager_center, .bootstrap-common table #pg_gridPager_right { display:block; width:100% !important;}
    .bootstrap-common .ui-jqgrid-bdiv .jspHorizontalBar { height: 11px;}
    .bootstrap-common #pg_gridPager { width:100% !important; height:70px;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td { display:block; margin:0 auto; text-align:center;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td:nth-child(2) { width:41% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td:nth-child(2) { width:auto !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom { height:80px;width: 100% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td span { margin:0 auto; float:none;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td .ui-paging-info { text-align:center !important; margin-right:0;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td  #pagesizebox { float:none; left:0; right:0; margin-top: 3px; text-align:center;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td { display:inline-block; border: 1px solid transparent;}
    #pg_gridPager_right > div#pagesizebox { bottom: 12px;float: none !important;left: 0 !important; right: 0;text-align: center;top: auto !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table td[align="right"] table td input[type="button"] { padding: 1px 2px !important; }
    .rbrowse-button { float: right;position: relative;right: -15px;top: -7px;}
    .footer_type2 .ui-pager-control > table.ui-pg-table > tbody > tr > td:last-child div.ui-paging-info { text-align: center !important;}
    /* BOOTSTRAP POPUP HEADER */
    .header_inn_wrapper .header_wrapper_left { text-align:center;}
    /* BOOTSTRAP FOOTER HEADER */
    .footerwrp_jqgrid_left { left: 0; margin: 0 auto; position: absolute; right: 0; text-align: center; top: -30px; width: 455px;}
    .grid_icon { position:relative;}
    .footer_type2 table td #pagesizebox { width:auto !important; text-align:center;}
    .footer_type2 .ui-pager-control table.ui-pg-table td:first-child { width: 100% !important;}
    .footer_type2 .ui-pager-control table.ui-pg-table td table.ui-pg-table td:first-child { width: auto !important;}
    /* FLEET PROFILE */
    #BodyFleetProfile.modal-body {height: 570px;}
    .bootstrap-common table.box1 td #gbox_gridfleetProfile {width: 280px !important;}
    .Fleetprofile_popup { width:417px !important; margin:0 auto; right:0; left:0 !important;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile { width: 440px !important;}
    .bootstrap-common table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile,
    .bootstrap-common table.box1 td #gbox_gridfleetProfile #pg_gridPager { width:100% !important;}
    .bootstrap-common table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-hdiv,
    .bootstrap-common table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-bdiv { width:100% !important;}
    .bootstrap-common.fleetprofile_popup table td .ui-corner-bottom .ui-pager-control table td#pg_gridPager_center { width:100% !important;}
    .bootstrap-common.fleetprofile_popup table td .ui-corner-bottom .ui-pager-control table td#pg_gridPager_center > table { margin:0 auto;}
    .bootstrap-common.fleetprofile_popup table.box1 td .ui-corner-bottom .ui-pager-control table td#pg_gridPager_left:first-child { display:none;}
    .bootstrap-common.fleetprofile_popup table.box1 td .ui-corner-bottom .ui-pager-control table td#pg_gridPager_right:last-child { height:45px;}
    /* FLEET PROFILE ADD/EDIT POPUP */
    #ModalFleetProfileCatalog .modal-dialog { transform: translate(0px, 0);width: 390px !important; margin: 10px auto 0;-webkit-transform: translate(0,0);}
    #art-sheet.art-Sheet { width: 490px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup { width: 441px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral { width: 441px !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td { display: block; margin: 2px 0;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td input[type="text"] { width: 375px; margin-right: 5px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td input[type="button"] { display: table;margin-top: -11px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td select { width: 400px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table.fleet_colorpicker td input[type="text"] { width: 335px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.tdLabel110 { display: inline-block;width: 200px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.tdLabel80 { display: inline-block;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.custom_radbutton { margin: 6px 0 0;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td { display: block;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo { width: 441px !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo li .rpSlide .rpTemplate { width: 455px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo li .rpSlide .rpTemplate table.box1 td #ctl00_SettingBodyContent_pnlAdditionalInfo_i0_dgPassengerAddlInfo { width: 420px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table #ctl00_SettingBodyContent_pnlbarnotes li .rpSlide .rpTemplate table td textarea { width: 405px; }
    #BodyFleetProfileCatalog { height: 924px;}
    /* CLIENT CODE */
    .bootstrap-common table.box1 td #gbox_gridClientCode { width: 400px !important;}
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode,
    .bootstrap-common table.box1 td #gbox_gridClientCode #pg_gridPager { width:400px !important;}
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode .ui-jqgrid-hdiv,
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode .ui-jqgrid-bdiv { width:100% !important;}
    .bootstrap-common table.box1 td #gbox_gridClientCode {width: 280px !important;}
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode, .bootstrap-common table.box1 td #gbox_gridClientCode #pg_gridPager {width: 280px !important;}
    #ModalClientCode .modal-dialog { width:312px !important; transform: translate(0px, 0px) !important;-webkit-transform: translate(0,0);}
    #ModalClientCode .modal-dialog .modal-body { height: 440px;}
    .clientcode_popup .jspHorizontalBar { height:11px;}
    .clientcode .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td:first-child { height:0px;}
    .clientcode .bootstrap-common table.box1 td .ui-corner-bottom { height: 80px;}
    .clientcode .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td:nth-child(2) {width: 65% !important;}
    .clientcode .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td:nth-child(2) table td {width: auto !important;}
    /* AIRCRAFT TYPES */
    #ModalAircraftPopup .modal-dialog { width:380px !important; margin:0 auto;}
    #ModalAircraftPopup .modal-dialog .modal-body { height: 465px;}
    .Aircraft_popup #gbox_gridAircraft { width:450px !important;}
    .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft, .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft .ui-jqgrid-bdiv, .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft .ui-jqgrid-hdiv { width:100% !important;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_left { display:block; width:100% !important;}
    #form1 .Aircraft_popup .box1 { width: 450px;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_center table { margin:0 auto;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right #pagesizebox { bottom:0;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right .ui-paging-info {  text-align: center !important;}
     /* FLIGHT CATEGORY */
    #BodyLegCategory.modal-body {height: 500px!important;}
    #ModalAddCategory .modal-dialog {transform: translate(0px, 0);width: 390px !important; margin: 10px auto 0;-webkit-transform: translate(0,0);}
    #ModalLegCategory .modal-dialog {width:380px!important;}
    /*=== Dispatcher ===*/
	#ModalDispatcher .modal-dialog { width:400px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup { width:400px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #gview_gridDispacherPopup .ui-jqgrid-hdiv { width:400px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #gview_gridDispacherPopup .ui-jqgrid-bdiv { width:400px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #pager_gridDispacherPopup { width:400px !important; height:70px;}
	#ModalDispatcher .modal-body { height: 566px !important;}    
    /* Aircraft Emergency */
    #ModalAircraftEmergency .modal-dialog { width:400px !important; margin:0 auto;}
    #ModalAircraftEmergency .modal-dialog .modal-body { height: 498px;}
	.emergency_popup #gbox_dgEmergencyList { width:415px !important;}
    .emergency_popup #gbox_dgEmergencyList #gview_dgEmergencyList .ui-jqgrid-hdiv { width:415px !important;}
    .emergency_popup #gbox_dgEmergencyList #gview_dgEmergencyList .ui-jqgrid-bdiv { width:415px !important;}
    .emergency_popup #gbox_dgEmergencyList #pg_gridPager { width:415px !important; height:70px;}
}


@media only screen and (min-width:280px) and (max-width:400px) {
    /* COMMON */
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td { display:block; margin:0 auto; text-align:center; width:100% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td:nth-child(2) { width:58% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td, .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td:nth-child(2) { width:auto !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom { height:75px;width: 100% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td span { margin:0 auto; float:none;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td:nth-child(3), .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td:nth-child(5) { display:none;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td .ui-paging-info{ text-align:center !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td { display:block; margin:0 auto; text-align:center; width:100% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td:nth-child(2) { width:58% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td, .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td:nth-child(2) { width:auto !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom { height:75px;width: 100% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td span { margin:0 auto; float:none;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td:nth-child(3), .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td:nth-child(5) { display:none;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td .ui-paging-info{ text-align:center !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td table td { display:inline-block;}
    .modal-dialog {  margin: 0 auto !important; width: 315px !important;}
    .modal-body { height: 612px;}
    .jspHorizontalBar { height:11px;}
    .bootbox .modal-dialog { width:270px !important;}
    .bootbox .modal-dialog .modal-header .modal-title span { font-size:13px;}
    .rbrowse-button { float: right;position: relative;right: -15px;top: -7px;}
    .bootstrap-common #pg_gridPager { width:100% !important; height:70px;}
    .bootstrap-common #pg_gridPager #pg_gridPager_center, .bootstrap-common #pg_gridPager #pg_gridPager_right { display:block; width:100% !important;}
    .bootstrap-common .ui-jqgrid-bdiv .jspHorizontalBar { height:11px;}
    .footer_type2 .ui-pager-control > table.ui-pg-table > tbody > tr > td:last-child div.ui-paging-info { text-align: center !important;}
    /* BOOTSTRAP POPUP HEADER */
    .header_inn_wrapper .header_wrapper_left { text-align:center;}
    /* BOOTSTRAP JQGRID FOOTER */
    .footerwrp_jqgrid_left { left: 0; margin: 0 auto; position: absolute; right: 0; text-align: center; top: -30px; width: 280px;}
    .grid_icon { position:relative;}
    .footer_type2 table td #pagesizebox { width:auto !important; text-align:center;}
    .footer_type2 .ui-pager-control table.ui-pg-table td:first-child { width: 100% !important;}
    .footer_type2 .ui-pager-control table.ui-pg-table td table.ui-pg-table td:first-child { width: auto !important;}
    /* FLEET PROFILE */
    .Fleetprofile_popup { width:300px !important;}
    .bootstrap-common table.box1 td #gbox_gridfleetProfile { width: 100% !important;}
    .bootstrap-common table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile { width:280px !important;}
    .bootstrap-common table.box1 td #gbox_gridfleetProfile #pg_gridPager { width:280px !important;}
    .bootstrap-common table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-hdiv { width:100% !important;}
    .bootstrap-common table.box1 td #gbox_gridfleetProfile #gview_gridfleetProfile .ui-jqgrid-bdiv { width:100% !important;}
    .bootstrap-common.fleetprofile_popup table td .ui-corner-bottom .ui-pager-control table td#pg_gridPager_center { width:100% !important;}
    .bootstrap-common.fleetprofile_popup table td .ui-corner-bottom .ui-pager-control table td#pg_gridPager_center > table { margin:0 auto;}
    .bootstrap-common.fleetprofile_popup table.box1 td .ui-corner-bottom .ui-pager-control table td#pg_gridPager_left:first-child { display:none;}
    .bootstrap-common.fleetprofile_popup table.box1 td .ui-corner-bottom .ui-pager-control table td#pg_gridPager_right:last-child { height:45px;}
    .bootstrap-common.fleetprofile_popup table.box1 td #gbox_gridfleetProfile {width: 272px !important;}
    #BodyFleetProfile.modal-body {height: 570px;}
    /* FLEET PROFILE ADD/EDIT POPUP */
    #ModalFleetProfileCatalog .modal-dialog { transform: translate(0px, 0);width: 310px !important; margin: 10px auto 0;-webkit-transform: translate(0,0);}
    #art-sheet.art-Sheet { width: 390px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup { width: 341px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm > table td[align="right"] table td { display: block;text-align: center !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm > table td[align="right"] table { margin: 0 auto; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm > table td[align="right"] table td:last-child input { margin: 5px 0;} 
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral { width: 341px !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td { display: block; margin: 2px 0;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td input[type="text"] { width: 275px; margin-right: 5px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td input[type="button"] { display: table;margin-top: -11px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td select { width: 300px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table.fleet_colorpicker td input[type="text"] { width: 245px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.tdLabel110 { display: inline-block;width: 200px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.tdLabel80 { display: inline-block;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.custom_radbutton { margin: 6px 0 0;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td { display: block;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo { width: 341px !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo li .rpSlide .rpTemplate { width: 360px !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo li .rpSlide .rpTemplate table.box1 td #ctl00_SettingBodyContent_pnlAdditionalInfo_i0_dgPassengerAddlInfo { width: 325px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table #ctl00_SettingBodyContent_pnlbarnotes li .rpSlide .rpTemplate table td textarea { width: 305px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table #ctl00_SettingBodyContent_pnlbarnotes { width: 341px !important;}
    #BodyFleetProfileCatalog { height: 924px;}
    /* CLIENT CODE */
    .bootstrap-common table.box1 td #gbox_gridClientCode { width:260px !important;}
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode,
    .bootstrap-common table.box1 td #gbox_gridClientCode #pg_gridPager { width:260px !important;}
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode .ui-jqgrid-hdiv,
    .bootstrap-common table.box1 td #gbox_gridClientCode #gview_gridClientCode .ui-jqgrid-bdiv { width:100% !important;}
    .clientcode_popup .ui-pager-control > table.ui-pg-table > tbody > tr > td:last-child div.ui-paging-info { text-align:center !important;}
    .clientcode_popup .ui-pager-control > table.ui-pg-table > tbody > tr > td:last-child div.ui-paging-info { text-align:center !important;}
    #ModalClientCode .modal-dialog { width:312px !important; transform: translate(0px, 0px) !important;-webkit-transform: translate(0,0);}
    .clientcode .client_code_popup table.box1 td .ui-corner-bottom .ui-pager-control table td:first-child { height:0px;}
    .clientcode .client_code_popup table.box1 td .ui-corner-bottom .ui-pager-control table td:nth-child(2) { width: 60% !important;}
    .clientcode .client_code_popup table.box1 td .ui-corner-bottom .ui-pager-control table td:nth-child(2) table td {width: auto !important;}
    .clientcode .client_code_popup table.box1 td .ui-corner-bottom { height: 75px;}
    .bootstrap-common.clientcode_popup table.box1 td #gbox_gridClientCode { width: 260px !important;}
    #ModalClientCode .modal-dialog .modal-body { height: 444px;}
    /* AIRCRAFT TYPES */
    #ModalAircraftPopup .modal-dialog { width:280px !important; margin:0 auto;}
    #ModalAircraftPopup .modal-dialog .modal-body { height: 465px;}
    .Aircraft_popup #gbox_gridAircraft { width:344px !important;}
    .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft, .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft .ui-jqgrid-bdiv, .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft .ui-jqgrid-hdiv { width:100% !important;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_left { display:block; width:100% !important;}
    #form1 .Aircraft_popup .box1 { width: 350px;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_center table { margin:0 auto;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right #pagesizebox { bottom:0; float:none; left:0; right: 0; text-align:center; top: auto;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right .ui-paging-info { text-align:center !important;}
    /*FLIGHT CATEGORY*/
    #ModalLegCategory .modal-dialog {  margin: 0 auto !important; width: 315px !important;}
    #BodyLegCategory.modal-body {height: 500px!important;}
    #gbox_gridFlightCategory #gview_gridFlightCategory .ui-state-default.ui-jqgrid-hdiv .ui-jqgrid-hbox { width:345px !important;}
     /*Add category Modal Code*/
    #ModalAddCategory .modal-dialog {transform: translate(0px, 0);width: 310px !important; margin: 10px auto 0;-webkit-transform: translate(0,0); }
    /*=== Dispatcher ===*/
	#ModalDispatcher .modal-dialog { width:290px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup { width:365px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #gview_gridDispacherPopup .ui-jqgrid-hdiv { width:365px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #gview_gridDispacherPopup .ui-jqgrid-bdiv { width:365px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #pager_gridDispacherPopup { width:365px !important; height:70px;}
	#ModalDispatcher .modal-body { height: 566px !important;}
    
    /* Aircraft Emergency */
    #ModalAircraftEmergency .modal-dialog { width:290px !important; margin:0 auto;}
    #ModalAircraftEmergency .modal-dialog .modal-body {height: 497px;}
	.emergency_popup #gbox_dgEmergencyList { width:362px !important;}
    .emergency_popup #gbox_dgEmergencyList #gview_dgEmergencyList .ui-jqgrid-hdiv { width:362px !important;}
    .emergency_popup #gbox_dgEmergencyList #gview_dgEmergencyList .ui-jqgrid-bdiv { width:362px !important;}
    .emergency_popup #gbox_dgEmergencyList #pg_gridPager { width:362px !important; height:70px;}

}

@media only screen and (min-width:220px) and (max-width:300px) {
    /* COMMON */
    .rbrowse-button { float: right;position: relative;right: -15px;top: -7px;}
    .bootstrap-common .ui-jqgrid-bdiv .jspHorizontalBar { height:11px;}
    .bootstrap-common #pg_gridPager { width:100% !important; height: 70px;}
    .bootstrap-common #pg_pg_gridPager table #pg_gridPager_center, .bootstrap-common #pg_pg_gridPager table #pg_gridPager_right { display:block; width:100% !important;}
    .bootstrap-common table.box1 td .ui-corner-bottom .ui-pager-control table td { display: block; margin: 0 auto; text-align: center; width: 100% !important;}
    .footer_type2 .ui-pager-control table.ui-pg-table td table.ui-pg-table td { width: auto !important; display:inline-block;}
    .footer_type2 .ui-pager-control > table.ui-pg-table > tbody > tr > td:last-child div.ui-paging-info { text-align: center !important;}
    .bootbox .modal-dialog { width:257px !important;}
    .bootbox .modal-dialog .modal-header .modal-title span { font-size:13px;}
    /* BOOTSTRAP POPUP HEADER */
    .header_inn_wrapper .header_wrapper_left { text-align:center;}
    /* BOOTSTRAP JQGRID FOOTER */
    .footer_type2 table td #pagesizebox { width:auto !important; text-align:center;}
    .footer_type2 .ui-pager-control table.ui-pg-table td:first-child { width: 100% !important;}
    .footer_type2 .ui-pager-control table.ui-pg-table td table.ui-pg-table td:first-child { width: auto !important;}
    /* FLEET PROFILE ADD/EDIT POPUP */
    #art-sheet.art-Sheet { width: 290px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup { width: 261px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm > table td[align="right"] table td { display: block;text-align: center !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm > table td[align="right"] table { margin: 0 auto; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm > table td[align="right"] table td:last-child input { margin: 5px 0;} 
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral { width: 261px !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td { display: block; margin: 2px 0;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td input[type="text"] { width: 200px; margin-right: 5px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td input[type="button"] { display: table;margin-top: -11px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table td select { width: 200px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlExternalForm table #ctl00_SettingBodyContent_pnlGeneral li .rpSlide table.box1 td table td table.fleet_colorpicker td input[type="text"] { width: 160px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.tdLabel110 { display: inline-block;width: 200px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.tdLabel80 { display: inline-block;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td.custom_radbutton { margin: 6px 0 0;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup #ctl00_SettingBodyContent_pnlImage li .rpSlide .rpTemplate table.box1 td { display: block;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo { width: 261px !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo li .rpSlide .rpTemplate { width: 282px !important;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table td #ctl00_SettingBodyContent_pnlAdditionalInfo li .rpSlide .rpTemplate table.box1 td #ctl00_SettingBodyContent_pnlAdditionalInfo_i0_dgPassengerAddlInfo { width: 250px;}
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table #ctl00_SettingBodyContent_pnlbarnotes li .rpSlide .rpTemplate table td textarea { width: 228px; }
    #art-main .art-Sheet .art-Sheet-body .art-contentLayout_popup table #ctl00_SettingBodyContent_pnlbarnotes { width: 261px !important;}
    /* AIRCRAFT TYPES */
    .Aircraft_popup #gbox_gridAircraft { width:244px !important;}
    .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft, .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft .ui-jqgrid-bdiv, .Aircraft_popup #gbox_gridAircraft #gview_gridAircraft .ui-jqgrid-hdiv { width:100% !important;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_left { display:block; width:100% !important;}
    #form1 .Aircraft_popup .box1 { width: 250px;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_center table { margin:0 auto;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right #pagesizebox { bottom:0; float:none; left:0; right: 0; text-align:center; top: auto;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right .ui-paging-info { text-align:center !important;  }
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right .ui-paging-info { text-align:center !important;}
    /*=== Dispatcher ===*/
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup { width:255px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #gview_gridDispacherPopup .ui-jqgrid-hdiv { width:255px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #gview_gridDispacherPopup .ui-jqgrid-bdiv { width:255px !important;}
	.dispatcher_popup table.box1 #gbox_gridDispacherPopup #pager_gridDispacherPopup { width:255px !important; height:70px;}
	#ModalDispatcher .modal-body { height: 566px !important;}
        /* Aircraft Emergency */
	.emergency_popup #gbox_dgEmergencyList { width:255px !important;}
    .emergency_popup #gbox_dgEmergencyList #gview_dgEmergencyList .ui-jqgrid-hdiv { width:255px !important;}
    .emergency_popup #gbox_dgEmergencyList #gview_dgEmergencyList .ui-jqgrid-bdiv { width:255px !important;}
    .emergency_popup #gbox_dgEmergencyList #pg_gridPager { width:255px !important; height:70px;}
    .Aircraft_popup #gbox_gridAircraft #pg_gridPager #pg_pg_gridPager table #pg_gridPager_right .ui-paging-info { text-align:center !important; }
        /*FLIGHT CATEGORY*/
     .flightcategory_popup  #gbox_gridFlightCategory { width:275px !important;}
     #gbox_gridFlightCategory #gview_gridFlightCategory .ui-state-default.ui-jqgrid-hdiv { width:275px !important;}
     #gbox_gridFlightCategory #gview_gridFlightCategory .ui-state-default.ui-jqgrid-hdiv .ui-jqgrid-hbox { width:345px !important;}
     #gbox_gridFlightCategory #gview_gridFlightCategory .ui-jqgrid-bdiv { width:275px !important;}
     #gbox_gridFlightCategory #gview_gridFlightCategory .ui-jqgrid-bdiv.jspScrollable { width:275px !important;}
 }

