﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UnderConstruction.aspx.cs" Inherits="FlightPak.Web.Views.ErrorPages.UnderConstruction" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Under Construction</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <div class="access_denied"><img src="../../App_Themes/Default/images/access_denied_bg.png" width="806" height="454" alt="Under Construction"/></div>
    </div>
    </form>
</body>
</html>
