/* begin Page */
html, body, div, span, ol, ul, li
{
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body
{
    font: 11px Arial, Helvetica, San-serif;
    color: #444444;
}

img
{
  /*  filter: expression(fixPNG(this));*/
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet, .art-Sheet-body
{
    zoom: 1;
}

.art-Sheet-body
{
    position: static;
}


.art-Sheet-br
{
    top: expression(this.parentNode.offsetHeight-64+'px');
    left: expression(this.parentNode.offsetWidth-64+'px');
    clip: rect(32px auto auto 32px);
}


#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
    width: expression(document.body.clientWidth > 980 ? "100%" : "980px");
}
/* end Box, Sheet */

/* begin Box, Post */
.art-Post, .art-Post-body
{
    zoom: 1;
}

.art-Post-body
{
    position: static;
}
/* end Box, Post */

/* begin PostContent */
h1
{
    margin: 0.67em 0;
}

h2
{
    margin: 0.8em 0;
}

h3
{
    margin: 1em 0;
}

h4
{
    margin: 1.25em 0;
}

h5
{
    margin: 1.67em 0;
}

h6
{
    margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.art-Post ul li, .art-Post ol ul li
{
    height: 1%;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostBullets.png',sizingMethod='crop')");
}

.art-Post ul ol li
{
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote, .art-PostContent blockquote
{
    height: 1%;
    background-image: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.art-Footer .art-Footer-background
{
    top: expression(this.parentNode.offsetHeight-150+'px');
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Footer.png',sizingMethod='crop')");
    zoom: 1;
    font-size: 1px;
}

/* end Footer */
