html, body, div, span, ol, ul, li
{
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body
{
    font: 11px Arial, Helvetica, San-serif;
    color: #444444;
}

/* begin Box, Sheet */

.art-Sheet-body
{
    zoom: 1;
}
/* end Box, Sheet */


/* begin Box, BlockContent */

.art-BlockContent-body
{
    zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.art-Post-body
{
    zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
    height: 1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
    clip: rect(auto auto auto 408px);
}
/* end Button */

