@charset "utf-8";
/* CSS Document */
body {
	color:#121212;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	margin:0;
	padding:0;
}
#fss-side-two {
	margin-top:0px;
	height:415px;
	width:468px;
	background:url(../../images/bg-section-two-bottom.png) 0 0 no-repeat;	
}
#fss-side-one {
	margin:9px 12px 15px 15px; 
	background:url(../../images/bg-section-one-bottom.png) 0 0 no-repeat;
	width: 444px;
	height: 604px;
}
.fss-info-wrapper h2 {
	margin:0 24px;
	padding:18px 0 12px 0;
	font-size:21px;
	color:#4f5e6a;
	line-height:23px;
	font-weight: normal;
}
.fss-info-wrapper ul {
	margin:0 30px;
	padding:15px 0 15px 10px;
}
.fss-info-wrapper ul li {
	padding-bottom: 3px;	
}
.fss-info-wrapper h3 {
	margin:9px 24px 0 24px;
	font-size: 12px;
}
.fss-info-wrapper p {
	margin:0px 24px 12px 24px;
}
.fss-side-two-content {
	width: 440px;	
}
.ru-info-line {
	border-top: solid 1px #d3d3d3;
}
a {
	color: #3366cc;
	text-decoration:none;
}
a:hover, a:visited {
	color: #3366cc;
	text-decoration:underline;
}