﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Authentication.master.cs"
    Inherits="FlightPak.Web.Framework.Masters.Authentication" MasterPageFile="~/Framework/Masters/Site.master" %>

<asp:Content ID="AuthHeadContent" runat="server" ContentPlaceHolderID="HeadContent">
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="AuthBodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <telerik:RadScriptManager ID="RadScriptManager1" runat="server" EnableCdn="true">
    </telerik:RadScriptManager>
    <telerik:RadStyleSheetManager runat="server" ID="RadStyleSheetManager1">
        <CdnSettings TelerikCdn="Disabled" />
    </telerik:RadStyleSheetManager>
    <asp:ContentPlaceHolder ID="MainContent" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
