﻿<%@ Import Namespace="System.Web.Optimization" %>

<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/Framework/Masters/FSSSite.master"
    CodeBehind="PostFlight.master.cs" Inherits="FlightPak.Web.Framework.Masters.PostFlight" %>

<%@ Register Src="~/UserControls/Postflight/UCPostflightSearch.ascx" TagName="Search" TagPrefix="UCPostflight" %>
<%@ Register Src="~/UserControls/Postflight/UCPostflightException.ascx" TagName="Exception" TagPrefix="UCPostflight" %>
<asp:Content ID="SiteHeadContent" runat="server" ContentPlaceHolderID="HeadContent">
    <%=Styles.Render("~/bundles/jqgrid") %>
    <%=Scripts.Render("~/bundles/jquery") %>
    <%=Scripts.Render("~/bundles/sitecommon") %>
    <%=Scripts.Render("~/bundles/jqgridjs") %>
    <%=Scripts.Render("~/bundles/knockout") %>
    <%=Scripts.Render("~/bundles/postflight") %>
    <asp:ContentPlaceHolder ID="PostFlightHeadContent" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="SiteBodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <telerik:RadCodeBlock ID="RadCodeBlock1" runat="server">


        <script type="text/javascript" language="javascript">

            function callToJSforReportDownload() {

                // Fix for IE issue.
                jQuery("#btnNewTrip").removeAttr("disabled");
                jQuery("#btnCopyTrip").removeAttr("disabled");
                jQuery("#btnDeleteLog").removeAttr("disabled");
                jQuery("#btnEditTrip").removeAttr("disabled");
                jQuery("#btnSaveLog").removeAttr("disabled");
                jQuery("#btnCancelLog").removeAttr("disabled");
                jQuery("#btnOtherCrewDuty").removeAttr("disabled");
                jQuery("#btnExpenseLog").removeAttr("disabled");

                // Fix for PDF download and then Master buttons not working.
                window.open('<%=Page.ResolveUrl(@"~/Views/Reports/ReportRenderView.aspx") %>', '_blank');
            }

            function retrieveRefreshPage(arg) {
                radalert('Tripsheet Retrieval Completed', 330, 100, 'Retrieval Status', callBackRedirect);
            }

            function callBackRedirect() {
                window.location = 'PostFlightLegs.aspx?seltab=legs&fromPage=retrieve';
            }

            document.getElementById("anchorPostflight").setAttribute("class", "selector-active");

            // To disable button after click to prevent double clicking
            window.onbeforeunload = DisableButtons;
        </script>
        
        <script type="text/javascript">
            $(document).ready(function () {
                var tabName = getQuerystring("seltab", "POSTFLIGHT");
                tabName = tabName.toUpperCase();
                if (tabName == "POSTFLIGHT" || tabName == "MAIN") {
                    $("#tbPostflight").addClass("tabSelected");
                }
                else if (tabName == "LEGS") {
                    $("#tbLegs").addClass("tabSelected");
                }
                else if (tabName == "CREW") {
                    $("#tbCrew").addClass("tabSelected");
                }
                else if (tabName == "PAX") {
                    $("#tbPAX").addClass("tabSelected");
                }
                else if (tabName == "EXPENSES") {
                    $("#tbExpenses").addClass("tabSelected");
                }
                else if (tabName == "REPORTS") {
                    $("#tbReports").addClass("tabSelected");
                }

            });
            function PostflightModuleTabChange(ctrl) {
                var result = POMaintainModelStatusBeforePageLeave(ctrl, "redirect");
                return result;
            }

        </script>

        <style type="text/css">
            .toolbar-text {
                color: #444444 !important;
                font-family: Arial !important;
                font-size: 12px !important;
            }

            #gview_SortSummaryDetail .ui-jqgrid-labels {
                font: bold 12px Arial,Helvetica,sans-serif !important;
                color: black !important;
            }

            #gview_SortSummaryDetail .ui-jqgrid-sortable {
                color: black;
                font-weight: bold;
            }

            #gview_SortSummaryDetail .ui-jqgrid-btable tr {
                font: bold 11px Arial,Helvetica,sans-serif !important;
                color: black !important;
            }

            #gview_DetailedLegSummary table.ui-jqgrid-htable {
                font: bold 11px Arial,Helvetica,sans-serif !important;
                color: black !important;
            }

            #gview_DetailedLegSummary .ui-jqgrid-sortable {
                color: black;
                font-weight: bold;
            }

            #gview_DetailedLegSummary .ui-jqgrid-btable tr {
                font: bold 12px Arial,Helvetica,sans-serif !important;
                color: black !important;
            }
        </style>

    </telerik:RadCodeBlock>
    <telerik:RadScriptManager ID="RadScriptManager1" runat="server" EnablePageMethods="true">
    </telerik:RadScriptManager>
    <div id="DivMasterForm" runat="server">
        <div class="divloader" style="display: none; background: rgba(255, 255, 255, 0.5); width: 100%; text-align: center; z-index: 999;">
            <img src="/App_Themes/Default/images/loading.gif" style="position: absolute; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px;" alt="Loading.." />
        </div>
        <asp:HiddenField ID="hdnPostflightButtonAccessControls" ClientIDMode="Static" runat="server" />
        <div id="divartpostflightcontent" runat="server" class="art-postflight-setting-content">
            <div class="art-postflight-setting-post">
                <div class="art-postflight-setting-post-body">
                    <div class="art-postflight-setting-postcontent">
                        <div class="globalMenu_mapping">
                        </div>
                        <table width="100%" cellpadding="0" cellspacing="0" id="tblTripHeader" runat="server" visible="true">
                            <tr>
                                <td align="left">
                                    <input type="button" id="btnNewTrip" data-bind="visible: self.UserPrincipal.AddPOLogManager, PostflightHeader: POLogID(), mode: self.POEditMode(), btn: 'New', event: { click: btnNewLogClick }" value="New Flight Log"  class="ui_nav_disable" disabled="disabled" />
                                    <input type="button" id="btnRetrieveTrip" data-bind="visible: self.UserPrincipal.ViewPORetrieveLog, PostflightHeader: POLogID(), mode: POEditMode(), btn: 'Retrieve'" value="Retrieve Trip"  class="ui_nav_disable" disabled="disabled" onclick="    javascript: openPostflightWinShared('RadRetrievePopup'); return false;" />
                                    <input type="button" id="btnDeleteLog" data-bind="visible: self.UserPrincipal.DeletePOLogManager, PostflightHeader: POLogID(), mode: POEditMode(), btn: 'Delete', event: { click: btnDeleteLogClick }" title="Delete Selected Record"  class="ui_nav_disable" disabled="disabled" value="Delete Log" />
                                    <input type="button" id="btnEditTrip" data-bind="visible: self.UserPrincipal.EditPOLogManager, PostflightHeader: POLogID(), mode: POEditMode(), btn: 'Edit', event: { click: btnEditLogClick }" value="Edit Flight Log"  class="ui_nav_disable" disabled="disabled" />
                                    <input type="button" id="btnSaveLog" data-bind="visible: self.UserPrincipal.AddPOLogManager, PostflightHeader: POLogID(), mode: POEditMode(), btn: 'Save', event: { click: self.SavePostflightLog_Click }" title="Save Changes"  class="ui_nav_disable" disabled="disabled" value="Save" />
                                    <input type="button" id="btnCancelLog" data-bind="visible: self.UserPrincipal.AddPOLogManager, PostflightHeader: POLogID(), mode: POEditMode(), btn: 'Cancel', click: btnCancel_Click" title="Cancel All Changes"  class="ui_nav_disable" disabled="disabled" value="Cancel" />
                                </td>
                                <td align="right">
                                    <input type="button" id="btnOtherCrewDuty" data-bind="visible: self.UserPrincipal.ViewPOOtherCrewDutyLog, PostflightHeader: POLogID(), mode: POEditMode(), btn: 'OtherCrewDutyLog', event: { click: btnOtherCrewDutyClick }" value="Other Crew Duty Log"  class="ui_nav_disable" disabled="disabled" />
                                    <input type="button" id="btnExpenseLog" data-bind="visible: self.UserPrincipal.ViewPOExpenseCatalog, PostflightHeader: POLogID(), mode: POEditMode(), btn: 'Expense', event: { click: btnExpenseLogClick }" value="Expense Catalog"  class="ui_nav_disable" disabled="disabled" />
                                </td>
                            </tr>
                        </table>
                        <div id="LoadingSpinner" style="display: none; background: rgba(255, 255, 255, 0.5); position: absolute; width: 100%; text-align: center; z-index: 999;">
                            <img src="/App_Themes/Default/images/loading.gif" style="position: absolute; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px;" alt="Loading.." />
                        </div>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center">
                                    <div id="divMessage" runat="server" style="width: 100%; text-align: center; display: none;">
                                        <asp:Label ID="lbMessage" runat="server" CssClass="alert-text"></asp:Label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td align="left">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <div class="UI-panel-bar">
                                                                <div id="ctl00_ctl00_MainContent_PostflightHeader_rtPostFlight" class="UI-bar UI-bar-Simple UI-bar-top-Simple">
                                                                    <div class="tabLevel tabLevel1">
                                                                        <ul class="tab-layout">
                                                                            <li  class="tab-content" style="width: 78px;"><a onclick="return PostflightModuleTabChange(this);" id="tbPostflight" class="panel-tab tabAfter" href="/Views/Transactions/PostFlight/PostFlightMain.aspx?seltab=main"><span class="tabOut"><span class="tabIn"><span class="tabTxt">Postflight</span></span></span></a></li>
                                                                            <li  class="tab-content" style="width: 55px;"><a onclick="return PostflightModuleTabChange(this);" id="tbLegs" class="panel-tab tabAfter" href="/Views/Transactions/PostFlight/PostFlightLegs.aspx?seltab=legs"><span class="tabOut"><span class="tabIn"><span class="tabTxt">Legs</span></span></span></a></li>
                                                                            <li  class="tab-content" style="width: 57px;"><a onclick="return PostflightModuleTabChange(this);" id="tbCrew" class="panel-tab tabAfter" href="/Views/Transactions/PostFlight/PostFlightCrew.aspx?seltab=crew"><span class="tabOut"><span class="tabIn"><span class="tabTxt">Crew</span></span></span></a></li>
                                                                            <li  class="tab-content" style="width: 52px;"><a onclick="return PostflightModuleTabChange(this);" id="tbPAX" class="panel-tab tabAfter" href="/Views/Transactions/PostFlight/PostFlightPAX.aspx?seltab=pax"><span class="tabOut"><span class="tabIn"><span class="tabTxt">PAX</span></span></span></a></li>
                                                                            <li  class="tab-content" style="width: 82px;"><a onclick="return PostflightModuleTabChange(this);" id="tbExpenses" class="panel-tab tabAfter" href="/Views/Transactions/PostFlight/PostflightExpenses.aspx?seltab=expenses"><span class="tabOut"><span class="tabIn"><span class="tabTxt">Expenses</span></span></span></a></li>
                                                                            <li  class="tab-content" style="width: 65px;"><a onclick="return PostflightModuleTabChange(this);" id="tbReports" class="panel-tab tabAfter" href="/Views/Transactions/PostFlight/PostflightReports.aspx?seltab=reports"><span class="tabOut"><span class="tabIn"><span class="tabTxt">Reports</span></span></span></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>                                            
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <asp:ContentPlaceHolder ID="PostFlightBodyContent" runat="server">
                        </asp:ContentPlaceHolder>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <div class="tblspace_10">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <telerik:RadPanelBar ID="pnlTrip" runat="server" CollapseAnimation-Type="None"
                                        ExpandAnimation-Type="None" Width="100%">
                                        <Items>
                                            <telerik:RadPanelItem runat="server" ID="rpiLegSummary" Value="pnlItemTrip" CssClass="PanelHeaderStyle"
                                                Expanded="true" Text="Trip">
                                                <Items>
                                                    <telerik:RadPanelItem>
                                                        <ContentTemplate>
                                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td align="center">
                                                                        <table cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td class="tdLabel60"></td>
                                                                                <td class="tdLabel90"></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td align="right">
                                                                        <asp:Button ID="btnAddRemoveColumn" runat="server" Visible="false" CssClass="button"
                                                                            Text="+/- Columns" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td class="preflighttrip-custom-grid">
                                                                        <table id="DetailedLegSummary"></table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </ContentTemplate>
                                                    </telerik:RadPanelItem>
                                                </Items>
                                            </telerik:RadPanelItem>
                                        </Items>
                                    </telerik:RadPanelBar>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                        <tr>
                                            <td align="left">
                                                <div class="nav-space">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="cleared">
                </div>
            </div>
        </div>
        <div class="art-preflight-setting-sidebar">
            <div class="art-postflight-block">
                    <table class="sort_summary_wrapper" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td>
                                <telerik:RadPanelBar ID="pnlTracker" Width="100%" ExpandAnimation-Type="None" CollapseAnimation-Type="None"
                                    runat="server">
                                    <CollapseAnimation Type="None"></CollapseAnimation>
                                    <Items>
                                        <telerik:RadPanelItem Text="Summary" Font-Bold="true" Expanded="true" Value="pnlItemTracker">
                                            <ContentTemplate>
                                                <table class="right_pan_summery" id="SortSummaryDetail"></table>
                                            </ContentTemplate>
                                        </telerik:RadPanelItem>
                                    </Items>
                                    <ExpandAnimation Type="None"></ExpandAnimation>
                                </telerik:RadPanelBar>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td>
                                <div class="tblspace_10">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td>
                                <telerik:RadPanelBar ID="pnlException" ExpandAnimation-Type="None" CollapseAnimation-Type="None"
                                    runat="server" Width="100%">
                                    <CollapseAnimation Type="None"></CollapseAnimation>
                                    <Items>
                                        <telerik:RadPanelItem Text="Exceptions" Font-Bold="true" Value="pnlItemException" Expanded="true">
                                            <ContentTemplate>
                                                <table width="100%" class="exception_box" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <UCPostflight:Exception ID="ExceptionGrid" runat="server" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </ContentTemplate>
                                        </telerik:RadPanelItem>
                                    </Items>
                                    <ExpandAnimation Type="None"></ExpandAnimation>
                                </telerik:RadPanelBar>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
        <asp:Panel ID="pnlFloater" runat="server" Visible="true">
            <div id="toolbar" class="scr_esp_down">
                <div class="floating_bar">
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="tdLabel60">Log No.:
                            </td>
                            <td class="tdLabel150">
                                <label class="floatinfo" id="lbFloatLognum" data-bind="text: Postflight.PostflightMain.LogNum"/>
                            </td>
                            <td class="tdLabel80" nowrap="nowrap">Dispatch No.:
                            </td>
                            <td class="tdLabel100">
                                <label class="floatinfo" id="lbDispatchNo" data-bind="text: Postflight.PostflightMain.DispatchNum" />
                            </td>
                            <td class="tdLabel60">Tail No.:
                            </td>
                            <td class="tdLabel100">
                                <label class="floatinfo" id="lbFloatTailnum" data-bind="text: Postflight.PostflightMain.Fleet.TailNum "/>
                            </td>
                            <!-- Changes for Legnum in Postflight Header-->
                            <td class="tdLabel80">Type Code:
                            </td>
                            <td>
                                <label class="floatinfo" id="lbFloatAircraft" data-bind="text: Postflight.PostflightMain.Aircraft.AircraftCD" />
                            </td>
                            <!-- Changes for Legnum in Postflight Header-->
                            <!-- Changes for Legnum in Postflight Header-->
                            <td class="tdLabel30">Leg:
                            </td>
                            <td class="tdLabel150">
                                <label class="floatinfo" id="lblFloatLegNum" data-bind="text: CurrentLegNumFloatbar" />
                            </td>
                            <!-- Changes for Legnum in Postflight Header-->
                        </tr>
                    </table>
                </div>
            </div>
            <script type="text/javascript" src="/Scripts/scroll_toolbar.js"></script>

        </asp:Panel>
    </div>
</asp:Content>
