﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteFV.Master.cs" Inherits="FlightPak.Web.Framework.Masters.SiteFV" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Import Namespace="FlightPak.Common.Constants" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <asp:Literal runat="server" ID="ltrMetaTag"></asp:Literal>
    <title>Universal Weather and Aviation</title>
    <link href="../../Scripts/jquery.alerts.css" rel="stylesheet" type="text/css" />    
    <link href="../../Scripts/styleFV.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
    <%--<script type="text/javascript" src="../../../Scripts/jquery.js"></script>--%>
    <%--<script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });

            $('#toTop').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 800);
            });
        });
    </script>--%>
</head>
<body>
    <form id="Form1" runat="server">
    <script type="text/javascript">
        function lnkAirport_OnClientClick() {
            var url = '<% =ResolveClientUrl("~/Views/Settings/Airports/AirportCatalog.aspx?IsWidget=1") %>';
            window.open(url, 'Airport', 'width=998,height=565,toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 565) / 2 + ',left=' + (screen.width - 998) / 2);
            return false;
        }
        function lnkAirportPair_OnClientClick() {
            var url = '<% =ResolveClientUrl("~/Views/Utilities/AirportPairs.aspx") %>';
            window.open(url, 'AirportPairs', 'width=998,height=565,toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 565) / 2 + ',left=' + (screen.width - 998) / 2);
            return false;
        }
        function lnkItineraryPlan_OnClientClick() {
            var url = '<% =ResolveClientUrl("~/Views/Utilities/ItineraryPlanning.aspx") %>';
            window.open(url, 'ItineraryPlanning', 'width=998,height=565,toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 565) / 2 + ',left=' + (screen.width - 998) / 2);
            return false;
        }
        function lnkWorldWinds_OnClientClick() {
            var url = '<% =ResolveClientUrl("~/Views/Utilities/WorldAirRoutes.aspx") %>';
            window.open(url, 'WorldWinds', 'width=990,height=400,toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 400) / 2 + ',left=' + (screen.width - 990) / 2);
            return false;
        }
        function lnkWorldClock_OnClientClick() {
            var url = '<% =ResolveClientUrl("~/Views/Utilities/WorldClock.aspx") %>';
            window.open(url, 'WorldClock', 'width=1011,height=542,toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 550) / 2 + ',left=' + (screen.width - 998) / 2);
            return false;
        }
        function lnkUniversalLocator_OnClientClick() {
            var url = '<% =ResolveClientUrl("~/Views/Utilities/UniversalLocator.aspx") %>';
            window.open(url, 'UniversalLocator', 'width=998,height=550,toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 550) / 2 + ',left=' + (screen.width - 998) / 2);
            return false;
        }
        function lnkBookmark_OnClientClick() {
            var url = '<% =ResolveClientUrl("~/Views/Utilities/Bookmarks.aspx") %>';
            window.open(url, 'Bookmarks', 'width=998,height=550,toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 550) / 2 + ',left=' + (screen.width - 998) / 2);
            return false;
        }

        function lnkUVTripPlanner_OnClientClick() {
            var url = '<% =ResolveClientUrl("~/Views/Utilities/UVTripPlanner.aspx") %>';
            window.open(url, 'Bookmarks', 'width=998,height=550,toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 550) / 2 + ',left=' + (screen.width - 998) / 2);
            return false;
        }

        //        function lnkRecentActivities_OnClientClick() {
        //            //            var url = '<% =ResolveClientUrl("~/Views/Utilities/RecentActivities.aspx") %>';
        //            //            window.(url, 'UniversalLocator', 'width=998,height=550,toolbar=no, location=no,directories=no,modal=yes,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes,top=' + (screen.height - 550) / 2 + ',left=' + (screen.width - 998) / 2);
        //            //            return false;
        //            var ie = document.all;
        //            var url = '<% =ResolveClientUrl("~/Views/Utilities/RecentActivities.aspx") %>';


        //            if (ie)
        //                window.showModalDialog(url, 'window', 'status:no; help:no; dialogWidth:1100px; dialogHeight:700px,top=' + (screen.height - 700) / 2 + 'px,left=' + (screen.width - 1100) / 2 + 'px');
        //            else {
        //                var theWin = window.open(url, 'theWin', 'width=1100, height=700, status=no,top=' + (screen.height - 700) / 2 + ',left=' + (screen.width - 1100) / 2);
        //                theWin.focus();
        //            }
        //        }
        function GetDimensions(sender, args) {
            var bounds = sender.getWindowBounds();
            return;
        }


        function SaveCloseAndRebindPage() {
            window.location.reload();
            return false;
        }


        function openWinRecentActivity(popupid) {
            if (popupid == "radRecentActivity") {
                var url = '<% =ResolveClientUrl("~/Views/Utilities/RecentActivities.aspx") %>';
            }
            else if (popupid == "radChangeQueue") {
                var url = '<% =ResolveClientUrl("~/Views/Transactions/CorporateRequest/CorporateChangeQueue.aspx") %>';
            }


            var oWnd = window.radopen(url, popupid);
            oWnd.set_modal(true);


            if (popupid == "radRecentActivity") {
                oWnd.SetWidth(1000);
                oWnd.SetHeight(550);
            }
            else if (popupid == "radChangeQueue") {
                oWnd.SetWidth(770);
                oWnd.SetHeight(600);
                oWnd.add_close(CloseAndRebindPage);
            }

            oWnd.set_visibleStatusbar(false);
            //            oWnd.set_initialBehaviors(Telerik.Web.UI.WindowBehaviors.Close); // set the desired behaviours  
            oWnd.set_behaviors(Telerik.Web.UI.WindowBehaviors.Close); //set the desired behaviours  
            //            oWnd.moveTo(100, 25);

            oWnd.show();
            //            var url = '<% =ResolveClientUrl("~/Views/Utilities/RecentActivities.aspx") %>';
            //            var manager = $find("ctl00_ctl00_radWMRecentActivity");
            //            manager.open(url, "radRecentActivity");
        }

        
    </script>
    <script type="text/javascript" src="<% =ResolveClientUrl("~/Scripts/Common.js") %>"></script>
    <script type="text/javascript" src="<% =ResolveClientUrl("~/Scripts/jqgrid/jquery-1.11.0.min.js") %>"></script>
    <script type="text/javascript" src="<% =ResolveClientUrl("~/Scripts/jquery.alerts.js") %>"></script>
    <script type="text/javascript">
        function ShowSuccessMessage() {
            $(document).ready(function () {
                $("#tdSuccessMessage").css("display", "inline");
                $('#tdSuccessMessage').delay(60000).fadeOut(60000);
            });
        }



        function lnkChange_OnClientClick() {
            window.showModalDialog("../Views/Transactions/CorporateRequest/CorporateChangeQueue.aspx", "Change Queue", "dialogWidth:750px;dialogHeight:600px;center:yes");
            return false;
        }
    </script>
    <div id="art-main">
        <telerik:RadAjaxManager ID="rdAMRecentActivity" runat="server">
        </telerik:RadAjaxManager>
        <%--<telerik:RadWindowManager ID="radWMRecentActivity" runat="server">
            <Windows>--%>
        <telerik:RadWindow ID="radRecentActivity" runat="server" Height="700px" Width="1100px"
            ReloadOnShow="true" KeepInScreenBounds="true" Modal="true" Behaviors="Close"
            VisibleStatusbar="false">
        </telerik:RadWindow>
        <telerik:RadWindow ID="radChangeQueue" runat="server" Height="750px" Width="1100px"
            OnClientClose="SaveCloseAndRebindPage" ReloadOnShow="true" KeepInScreenBounds="true"
            Modal="true" Behaviors="Close" VisibleStatusbar="false">
        </telerik:RadWindow>
        <%--</Windows>
        </telerik:RadWindowManager>--%>
        
            <div class="art-Sheet-body" style="width:auto;">
                <div id="header" style="display:none">
                    <div id="logo" runat ="server">
                        <a tabindex="1" href="http://www.universalweather.com/">
                            <img src="<% =ResolveClientUrl("~/App_Themes/Default/images/logo.png") %>" width="202px"
                                height="53px" alt="Universal Weather and Aviation" /></a></div>
                    <div id="headersearchbox">
                        <div class="globalMenu" id ="Combo" runat ="server">
                            <%--<div>
                                <a href="<%=ResolveClientUrl("~/Views/Transactions/PreFlight/ScheduleCalendar/ScheduleCalendarBase.aspx") %>"
                                    class="globalMenu_calendar" title="Calendar" tabindex="2">Calendar</a></div>--%>
                            <%--<div id="navigation">
                                <ul id="nav">
                                    <li class="item1"><a href="#" title="System Tools" class="globalMenu_systool" tabindex="3">
                                        System Tools</a>
                                        <ul>
                                            <li><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/ChangeAccountNumber.aspx") %>"
                                                title="Change Account Numbers">Change Account Nos.</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/ChangePassengerCode.aspx") %>"
                                                title="Change Passenger Code">Change Passenger Code</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/ChangeCrewCode.aspx") %>"
                                                title="Change Crew Code">Change Crew Code</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/ChangeTailNumber.aspx") %>"
                                                title="Change Tail Number">Change Tail Nos.</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/ChangeCustomerCode.aspx") %>"
                                                title="Change CQCustomer Code">Change CQ Customer Code</a></li>
                                            <li style="border-bottom: 1px solid #dbdbdb;"><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/ChangeAirportICAO.aspx") %>"
                                                title="Change Airport ICAO">Change Airport ICAO</a></li>
                                            <li style="border-top: 1px solid #fff;"><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/CrewOrPaxCleanUpUtility.aspx") %>"
                                                title="Crew/Pax Clean-up Utility">Crew/PAX Clean-up Utility</a></li>
                                            <li style="border-bottom: 1px solid #dbdbdb;"><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/RecoverDeletedTrips.aspx") %>"
                                                title="Recover Deleted Trips">Recover Deleted Trips</a></li>
                                            <li style="border-top: 1px solid #fff;"><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/LoggedInUsers.aspx") %>"
                                                title="Users Logged In">Logged In Users</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/LockManager.aspx") %>"
                                                title="Record Lock Manager">Record Lock Manager</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>--%>
                            <div>
                                <a href="<%=ResolveClientUrl("~/Views/Help/ViewHelp.aspx?Screen=LoggingintoSystem") %>"
                                    target="_blank" class="globalMenu_help" title="Help" tabindex="4">Help</a>
                            </div>
                            <%-- <div>
                                <asp:LinkButton ID="lnkLogout" runat="server" OnClick="lnkLogout_Click" CssClass="globalMenu_logout"
                                    Text="Logout" title="Logout" CausesValidation="false" TabIndex="5"></asp:LinkButton>
                            </div>--%>
                            <div class="global-search">
                                <asp:Panel ID="pnlSearch" runat="server" DefaultButton="SearchButton">
                                    <%--<span>
                                    <input name="sa" value="Search" class="searchsubmitbutton_top" type="submit" />
                                    <input id="SearchBox" value="Search..." onblur="if (this.value == '') {this.value = 'Search...';}"
                                        onfocus="if (this.value == 'Search...') {this.value = '';}" name="search" type="text"
                                        tabindex="8" />
                                </span>--%>
                                    <telerik:RadComboBox ID="RadSearchCombo" runat="server" CssClass="global_combo" Filter="Contains"
                                        MarkFirstMatch="true" ChangeTextOnKeyBoardNavigation="true" Skin="Metro">
                                    </telerik:RadComboBox>
                                    <asp:Button ID="SearchButton" runat="server" Text="Search" OnClick="SearchButton_Click"
                                        CssClass="searchsubmitbutton_top" CausesValidation="false" UseSubmitBehavior="false" /><asp:TextBox
                                            ID="SearchTextBox" CssClass="SearchBox" runat="server"></asp:TextBox>
                                    <%--<a href="#" tabindex="7">
                                <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/bookmark_add.png") %>"
                                    alt="Bookmark" /></a> <a href="#" tabindex="6">
                                        <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/bubble.png") %>" alt="Info" /></a>--%>
                                </asp:Panel>
                            </div>
                        </div>
                        <div class="nav-right" id ="menu" runat ="server">
                            <ul id="menu_wc">
                                <li class="menu_right"><a href="#" class="drop">Welcome, <span id="lbUserName" runat="server">
                                </span></a>
                                    <div class="dropdown_1column align_right">
                                        <div class="col_1">
                                            <ul class="simple">
                                                <li><a href="<%=ResolveClientUrl("~/Account/ChangePassword.aspx") %>">Change Password</a></li>
                                                <li><a href="<%=ResolveClientUrl("~/Account/ChangeHint.aspx") %>">Change Security Hint</a></li>
                                                <li>
                                                    <asp:LinkButton ID="lnkRecentActivities" runat="server" Text="Recent Activities"
                                                        OnClientClick="javascript:openWinRecentActivity('radRecentActivity');return false;">
                                                    </asp:LinkButton></li>
                                                <li>
                                                    <asp:LinkButton ID="lnkSetAsHomepage" runat="server" Text="Set as Homepage" OnClick="lnkSetAsHomepage_OnClick" />
                                                </li>
                                                <li>
                                                    <asp:LinkButton ID="lnkLogout" runat="server" OnClick="lnkLogout_Click" Text="Logout"
                                                        title="Logout" CausesValidation="false"></asp:LinkButton>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                          <%--  <div class="counting_items">
                                <asp:LinkButton ID="btnChangeQueue" runat="server" ToolTip="Change Queue" OnClientClick="javascript:openWinRecentActivity('radChangeQueue');return false;">
                                                    0</asp:LinkButton></div>--%>
                        </div>
                    </div>
                    <div id="globalNav"  runat ="server">
                        <div class="nav-left">
                            &nbsp;
                            <%--<a href="#" class="tooltip">
                                <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/home-fav.png") %>" />
                                <span>
                                    <img class="callout" src="<%=ResolveClientUrl("~/App_Themes/Default/images/callout.png") %>" />Set
                                    as Start Page </span></a>--%>
                        </div>
                        <div class="nav-btns">
                            <a class="<%= base.IsAuthorized(Permission.Preflight.ViewCalendar) ? "selector" : "selector-inactive" %>"
                                id="anchorCalendar" href="<%= base.IsAuthorized(Permission.Preflight.ViewCalendar) ? ResolveClientUrl("~/Views/Transactions/PreFlight/ScheduleCalendar/ScheduleCalendarBase.aspx"): "#" %>">
                                Calendar</a> <a class="<%= base.HaveModuleAccess(ModuleId.Database) ? "selector" : "selector-inactive" %>"
                                    id="anchorDatabase" href="<%= base.HaveModuleAccess(ModuleId.Database) ? ResolveClientUrl("~/Views/Settings/Default.aspx"): "#" %>">
                                    Database</a> <a class="<%= base.HaveModuleAccess(ModuleId.Preflight) ? "selector" : "selector-inactive" %>"
                                        id="anchorPreflight" href="<%= base.HaveModuleAccess(ModuleId.Preflight) ? ResolveClientUrl("~/Views/Transactions/PreFlight/PreFlightMain.aspx"): "#" %>">
                                        Preflight</a> <a class="<%= base.HaveModuleAccess(ModuleId.Postflight) ? "selector" : "selector-inactive" %>"
                                            id="anchorPostflight" href="<%= base.HaveModuleAccess(ModuleId.Postflight) ? ResolveClientUrl("~/Views/Transactions/PostFlight/PostFlightMain.aspx"): "#" %>">
                                            Postflight</a> <a class="<%= base.HaveModuleAccess(ModuleId.CharterQuote) ? "selector" : "selector-inactive" %>"
                                                id="anchorCharter" href="<%= base.HaveModuleAccess(ModuleId.CharterQuote) ? ResolveClientUrl("~/Views/Transactions/CharterQuote/CharterQuoteRequest.aspx") : "#" %>">
                                                Charter</a> <a style="display:none;" class="<%= base.HaveModuleAccess(ModuleId.CorporateRequest) ? "selector" : "selector-inactive" %>"
                                                    id="anchorCorporateRequest" href="<%= base.HaveModuleAccess(ModuleId.CorporateRequest) ? ResolveClientUrl("~/Views/Transactions/CorporateRequest/CorporateRequestMain.aspx") : "#" %>">
                                                    Corporate Request</a> <a class="<%= base.HaveModuleAccess(ModuleId.CharterQuoteReports) || base.HaveModuleAccess(ModuleId.CorporateRequestReports) || base.HaveModuleAccess(ModuleId.DatabaseReports) || base.HaveModuleAccess(ModuleId.PostflightReports) || base.HaveModuleAccess(ModuleId.PreflightReports) ||base.HaveModuleAccess(ModuleId.TripsheetReports) ||base.HaveModuleAccess(ModuleId.TripsheetRWReports) ? "selector" : "selector-inactive" %>"
                                                        id="anchorReports" href="<%= base.HaveModuleAccess(ModuleId.CharterQuoteReports) || base.HaveModuleAccess(ModuleId.CorporateRequestReports) || base.HaveModuleAccess(ModuleId.DatabaseReports) || base.HaveModuleAccess(ModuleId.PostflightReports) || base.HaveModuleAccess(ModuleId.PreflightReports) ||base.HaveModuleAccess(ModuleId.TripsheetReports) ||base.HaveModuleAccess(ModuleId.TripsheetRWReports) ? ResolveClientUrl("~/Views/Reports/ReportViewer.aspx"): "#" %>">
                                                        Reports</a>
                        </div>
                    </div>
                </div>
                <div class="art-contentLayout" >
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                    <div id="widget-bar" style="display:none">
                        <telerik:RadSplitter ID="RadSplitter1" runat="server" Height="260px" Skin="Metro">
                            <telerik:RadPane ID="LeftPane" runat="server" Width="10px" Scrolling="None">
                                <telerik:RadSlidingZone ID="SlidingZone1" runat="server" Width="10px" DockedPaneId="Pane1">
                                    <telerik:RadSlidingPane ID="Pane2" Title="" runat="server" Width="100%" CssClass="radsplitter_widget">
                                        <div>
                                            <a class="edit_wd" href="<%=ResolveClientUrl("~/Views/Settings/SystemAdministration/UserPreferenceWidgetSettings.aspx") %>">
                                                Edit</a>
                                        </div>
                                        <table width="100%">
                                            <tr id="trAirportPairs" runat="server">
                                                <td>
                                                    <asp:LinkButton ID="lnkAirportPair" runat="server" ToolTip="Airport Pairs" Text="Airport Pairs"
                                                        OnClientClick="javascript:lnkAirportPair_OnClientClick();">
                                                        <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/airport_pairs_widget.png") %>"
                                                        alt="Weather" width="32" height="32" /></asp:LinkButton>
                                                </td>
                                            </tr>
                                            <tr id="trAirportTable" runat="server">
                                                <td>
                                                    <asp:LinkButton ID="lnkAirport" runat="server" Text="Airport" ToolTip="Airport Table"
                                                        OnClientClick="javascript:lnkAirport_OnClientClick();">
                                                    <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/airport_widget.png") %>"
                                                        alt="Aero" width="32" height="32" /></asp:LinkButton>
                                                </td>
                                            </tr>
                                            <tr id="trBookmark" runat="server">
                                                <td>
                                                    <asp:LinkButton ID="lnkBookmark" runat="server" ToolTip="Bookmark" Text="Bookmark"
                                                        OnClientClick="javascript:lnkBookmark_OnClientClick();">
                                                    <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/bookmark_widget.png") %>"alt="Time" width="32" height="32" />
                                                    </asp:LinkButton>
                                                </td>
                                            </tr>
                                            <tr id="trItineraryPlanning" runat="server">
                                                <td>
                                                    <asp:LinkButton ID="lnkItineraryPlan" runat="server" ToolTip="Itinerary Planning"
                                                        Text="Itinerary Planning" OnClientClick="javascript:lnkItineraryPlan_OnClientClick();">
                                                    <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/itinerary_planning_widget.png") %>"
                                                        alt="Weather" width="32" height="32" /></asp:LinkButton>
                                                </td>
                                            </tr>
                                            <tr id="trUniversalLocator" runat="server">
                                                <td>
                                                    <asp:LinkButton ID="lnkUniversalLocator" runat="server" ToolTip="Locator" Text="Locator"
                                                        OnClientClick="javascript:lnkUniversalLocator_OnClientClick();">
                                                    <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/locator_widget.png") %>"
                                                        alt="Help" width="32" height="32" /></asp:LinkButton>
                                                </td>
                                            </tr>
                                            <tr id="trUVTripPlanner" runat="server">
                                                <td>
                                                    <asp:LinkButton ID="lnkUVTripPlanner" runat="server" ToolTip="UVTripPlanner" Text="UVTripPlanner"
                                                        OnClientClick="javascript:lnkUVTripPlanner_OnClientClick();">
                                                    <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/trip_planner_widget.png") %>"alt="Time" width="32" height="32" />
                                                    </asp:LinkButton>
                                                </td>
                                            </tr>
                                            <tr id="trWorldWinds" runat="server">
                                                <td>
                                                    <asp:LinkButton ID="lnkWorldWinds" runat="server" ToolTip="Winds on the World Air Routes"
                                                        Text="Winds on the World Air Routes" OnClientClick="javascript:lnkWorldWinds_OnClientClick();">
                                                    <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/world_air_routes_widget.png") %>"
                                                        alt="Calander" width="32" height="32" /></asp:LinkButton>
                                                </td>
                                            </tr>
                                            <tr id="trWorldClock" runat="server">
                                                <td>
                                                    <asp:LinkButton ID="lnkWorldClock" runat="server" ToolTip="World Clock" Text="World Clock"
                                                        OnClientClick="javascript:lnkWorldClock_OnClientClick();">
                                                    <img src="<%=ResolveClientUrl("~/App_Themes/Default/images/world_clock_widget.png") %>"alt="Time" width="32" height="32" />
                                                    </asp:LinkButton>
                                                </td>
                                            </tr>
                                        </table>
                                    </telerik:RadSlidingPane>
                                </telerik:RadSlidingZone>
                            </telerik:RadPane>
                        </telerik:RadSplitter>
                    </div>
                </div>
                <div class="cleared">
                </div>
            </div>
            <div class="footer" id="footer" runat="server" width="100%" visible="false">
                <span class="footer-left">©
                    <asp:Label ID="lbYear" runat="server"></asp:Label>
                    Universal Weather and Aviation, Inc. <span><b>E-mail: </b><a href="mailto:softwaresupport@univ-wea.com">
                        softwaresupport@univ-wea.com</a></span>&ensp; <span><b>N. America:</b> +1 (866) 882-4749
                            <b>Worldwide:</b> +1 (713) 378-2700</span> &ensp;<span>
                                <asp:Literal ID="lbBuildVer" runat="server"></asp:Literal></span>
                </span>
            </div>
       
    </div>
    <div id="toTop">
        ^ Scroll to Top</div>
    </form>
</body>
</html>

